// page-container --------------------------------


/*
:host {
    height: calc(100% - 51px);
    display: block;
    overflow: auto;
    position: relative;
}

@media (min-width: 576px) {
    :host {
        height: calc(100% - 51px);
    }
}

@media (min-width: 768px) {
    :host {
        height: calc(100% - 51px);
    }
}

@media (min-width: 992px) {
    :host {
        height: calc(100% - 55.8px);
    }
}

@media (min-width: 1200px) {
    :host {
        height: calc(100% - 57px);
    }
}
*/
// --------------------------------


