<div class="container" >

    <!-- Buttons to change wetween tabs -->
    <div class="row margin-top" [hidden]="!dex.logged">
        <div class="col-auto margin-top">
            <span class="btn btn-lg" [ngClass]="{'btn-primary':tab!=TAB.CREATE,'btn-success':tab==TAB.CREATE}" (click)="changeTab(TAB.CREATE)">
                <i class="material-icons"> add_circle_outline </i>
                <span> {{local.string.createnewtkn}}</span>
            </span>
        </div>
        <div class="col-auto margin-top">
            <span class="btn btn-lg" [ngClass]="{'btn-primary':tab!=TAB.REGISTER,'btn-success':tab==TAB.REGISTER}" (click)="changeTab(TAB.REGISTER); checkToken()">
                <i class="material-icons"> playlist_add </i>
                <span> {{local.string.registeretkn}} </span>
            </span>
        </div>
    </div>

    <!-- Brief text on header explaining the options of each tab -->
    <div class="margin-top-md">
        <div class="card text-white bg-dark">
            <div class="card-header vpe-background-card-header" [hidden]="!dex.logged">
                <div [hidden]="tab != TAB.CREATE">
                    <span class="text-lg">{{local.string.tkncreation | titlecase}}</span><br>
                    <span class="text-md">{{local.string.tkncreationtxt}}</span>
                </div>
                <div [hidden]="tab != TAB.REGISTER">
                    <span class="text-lg">{{local.string.tknregist | titlecase}}</span><br>
                    <span class="text-md">{{local.string.tknregisttxt}}</span>
                </div>
                <div [hidden]="tab != TAB.EDIT">
                    <span class="text-lg">{{local.string.tknedition | titlecase}}</span><br>
                    <span class="text-md">{{local.string.tkneditiontxt}}</span>        
                </div>
            </div>
            <div class="card-header vpe-background-card-header" [hidden]="dex.logged">
                <div class="pull-right">
                    <div class="pull-right margin-top">
                        <span class="btn btn-sm btn-primary" (click)="dex.login()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('login') && !dex.feed.loading('log-state')"></span>
                            {{local.string.LoginWScOrSq}}
                        </span>
                    </div>
                </div>             
                <span class="text-md">{{local.string.logintoedit}}</span>
            </div>
        </div>
    </div>

    <!-- card showing the existing token -->
    <div class="margin-top-md" [hidden]="!thetoken">
        <div class="card text-white bg-dark">
            <div class="card-header vpe-background-card-header">
                <div class="row">
                    <div class="col-12">
                        <div class="pull-right">
                            <span class="btn btn-sm btn-danger margin-top-xs"
                                (click)="discardTheToken()">
                                <i class="material-icons" [hidden]="loading">cancel</i>
                                forget
                            </span>
                        </div>                        
                        <span class="text-lg" *ngIf="!editable">Token: {{thetoken?.symbol}}</span> 
                        <span class="text-lg" *ngIf="editable">
                            <img style="height:20px; width: 20px; margin-top:-3px" [src]="editing?.icon">
                            <span class="card-title">
                                {{editing?.title}}
                            </span>                            
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-sm-2 col-form-label nowrap">{{local.string.contract|titlecase}}:</label>
                    <label class="col-sm-4 col-form-label">{{thetoken?.contract}}</label>
                    <label class="col-sm-2 col-form-label nowrap">{{local.string.maxsupply|titlecase}}:</label>
                    <label class="col-sm-4 col-form-label text-right">{{thetoken?.stat?.max_supply?.toString()}}</label>
                </div>

                <div class="row">
                    <label class="col-sm-2 col-form-label nowrap">{{local.string.issuer|titlecase}}:</label>
                    <label class="col-sm-4 col-form-label">{{thetoken?.stat?.issuer}}</label>
                    <label class="col-sm-2 col-form-label nowrap">{{local.string.cursupply|titlecase}}:</label>
                    <label class="col-sm-4 col-form-label text-right">{{thetoken?.stat?.supply?.toString()}}</label>
                </div>

            </div>
        </div>
    </div>
    
    <!-- preview of the Title and description -->
    <div class="margin-top-md" [hidden]="!showRegisteringForm">
        <div [hidden]="!editing?.title && !editing?.brief">
            <div class="text-xl token-description">
                <div>
                    <span class="text-lg margin-top token-title">{{editing?.title}}</span>&nbsp;
                </div>
                <div class="text-md margin-top token-brief">
                    <markdown [data]="editing?.brief"></markdown>
                </div>
                <div class="text-md margin-top">
                    <a class="btn btn-sm btn-primary margin-right-sm margin-top-xs" target="_blank" [href]="editing?.website" [hidden]="!editing?.website">
                        <i class="material-icons"> web </i>
                        {{local.string.visitwebsite}} 
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-top-md">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <!-- CREATE TAB -->
                <div [hidden]="!showCreateForm">

                    <!-- Symbol -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label nowrap">{{local.string.symbol|titlecase}}:</label>
                        <div class="col-sm-10">
                            <i _ngcontent-c4="" class="material-icons input-icon danger" [hidden]="symbolIsGood">cancel</i>
                            <i _ngcontent-c4="" class="material-icons input-icon success" [hidden]="!symbolIsGood">done</i>
                            <input class="form-control col-form-label" placeholder="symbol" [(uppercase)]="newtoken.symbol" (uppercaseChange)="onTokenChange($event)">
                        </div>
                        <div class="col-sm-10 offset-sm-2 text-danger margin-top-xs" [hidden]="!showerrors || symbolIsGood" >
                            {{local.string.invalidsym}}
                        </div>
                    </div>
    
                    <!-- Contract -->
                    <div class="form-group row">
                        <label class="col-12 d-block d-sm-none col-form-label nowrap">{{local.string.contract|titlecase}}: {{newtoken.contract}}</label>
                        <label class="col-2 d-none d-sm-block col-form-label nowrap">{{local.string.contract|titlecase}}:</label>
                        <label class="col-10 d-none d-sm-block col-form-label">{{newtoken.contract}}</label>
                    </div>
    
                    <!-- precision -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label nowrap">{{local.string.precision|titlecase}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control col-form-label" type="number" placeholder="precision" [(ngModel)]="newtoken.precision">
                        </div>
                    </div>
    
                    <!-- Max Supply -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label nowrap">{{local.string.maxsupply|titlecase}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control col-form-label" placeholder="maximun supply" [(ngModel)]="max_supply">
                        </div>
                    </div>

                </div>

                <!-- REGISTER TAB -->
                <div [hidden]="tab != TAB.REGISTER">

                    <div [hidden]="thetoken">
                        <!-- Symbol -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label nowrap">{{local.string.symbol|titlecase}}:</label>
                            <div class="col-sm-9" >
                                <i _ngcontent-c4="" class="material-icons input-icon danger" [hidden]="symbolIsGood">cancel</i>
                                <i _ngcontent-c4="" class="material-icons input-icon success" [hidden]="!symbolIsGood">done</i>
                                <input class="form-control col-form-label" placeholder="symbol" [(uppercase)]="newtoken.symbol" (uppercaseChange)="onTokenChange($event)">
                            </div>
                        </div>
        
                        <!-- Contract -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label nowrap">{{local.string.contract|titlecase}}:</label>
                            <div class="col-sm-9">
                                <input class="form-control col-form-label" placeholder="contract" [(ngModel)]="newtoken.contract" (ngModelChange)="onTokenChange($event)">
                            </div>
                        </div>    
                    </div>
    
                </div>

                <!-- Token just created syccessfully. Wanna register in DEX? -->
                <div [hidden]="!stepOneSucceed && !askIfWannaRegister">
                    <div class="pull-right">
                        <a class="btn btn-lg btn-success"
                            (click)="stepOneSucceed=false; askIfWannaRegister=false"
                        >
                            <span>
                                <i class="material-icons" [hidden]="loading">edit</i> {{local.string.registertkn|titlecase}}
                            </span>
                        </a>
                    </div>
                    <span class="text-md" [hidden]="!stepOneSucceed">
                        <span>{{local.string.tknsucceed}} <i style="vertical-align: -6px;" class="text-success material-icons" [hidden]="loading">done</i></span><br>
                        <span>{{local.string.wannaregtkn}}</span>
                    </span>                   
                    <span class="text-md" [hidden]="!askIfWannaRegister">
                        <span>{{local.string.wannaregtkn}}</span>
                    </span>                   
                </div>

                <!-- Token not own -->
                <div [hidden]="!tokenNotOwn">
                    <div class="row">
                        <span class="text-md col-sm-7 col-md-8 col-lg-9">
                            <span>{{local.string.notauthtoreg}}  <i style="vertical-align: -6px;" class="text-danger material-icons" [hidden]="loading">error</i></span><br>
                            <span>{{local.merge(local.string.notauthwhy, {'user': dex.logged, 'issuer': thetoken?.stat.issuer, 'contract':thetoken?.contract})}}</span>
                        </span>
                        <div class="col-sm-5 col-md-4 col-lg-3">
                            <a class="btn btn-lg btn-success disabled"
                                
                            >
                                <span>
                                    <i class="material-icons" [hidden]="loading">edit</i> {{local.string.registertkn|titlecase}}
                                </span>
                            </a>
                        </div>            
                    </div>
                </div>

                <!-- This forms appears only if we are editing or registering a token -->
                <div [hidden]="!showRegisteringForm">
                    <!-- title -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.title|titlecase}}*:</label>
                        <div class="col-sm-9" >
                            <input class="form-control col-form-label" placeholder="name of the token" [(ngModel)]="editing.title" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                        <div class="col-sm-9 offset-sm-3 text-danger margin-top-xs" [hidden]="!showerrors || editing.title" >
                            {{local.string.neededfield}}
                        </div>
                    </div>

                    <!-- brief -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.about|titlecase}}*:</label>
                        <div class="col-sm-9" >
                            <textarea class="form-control col-form-label" placeholder="brief description" [(ngModel)]="editing.brief" (ngModelChange)="onTokenInfoChange($event)"></textarea>
                        </div>
                        <div class="col-sm-9 offset-sm-3 text-danger margin-top-xs" [hidden]="!showerrors || editing.brief" >
                            {{local.string.neededfield}}
                        </div>
                    </div>

                    <!-- website -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.website|titlecase}}:</label>
                        <div class="col-sm-9" >
                            <input class="form-control col-form-label" placeholder="website" [(ngModel)]="editing.website" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                    </div>

                    <!-- icon -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.icon|titlecase}}:</label>
                        <div [ngClass]="{'col-sm-9': !editing.icon, 'col-sm-8': editing.icon}">
                            <input class="form-control col-form-label" placeholder="token icon URL" [(ngModel)]="editing.icon" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                        <div *ngIf="editing.icon" class="col-sm-1">
                            <img class="expand" [src]="editing.icon">
                        </div>
                    </div>

                    <!-- iconlg -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.bigicon|titlecase}}:</label>
                        <div [ngClass]="{'col-sm-9': !editing.iconlg, 'col-sm-7': editing.iconlg}">
                            <input class="form-control col-form-label" placeholder="token larger icon URL" [(ngModel)]="editing.iconlg" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                        <div *ngIf="editing.iconlg" class="col-sm-2">
                            <img class="expand" [src]="editing.iconlg">
                        </div>
                    </div>

                    <!-- banner -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.banner|titlecase}}:</label>
                        <div class="col-sm-9">
                            <input class="form-control col-form-label" placeholder="banner image URL" [(ngModel)]="editing.banner" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                        <div *ngIf="editing.banner" class="col-sm-9 offset-sm-3 margin-top-sm">
                            <img class="expand" [src]="editing.banner">
                        </div>
                    </div>

                    
                    <!-- tradeable -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.tradeable|titlecase}}:</label>
                        <div class="col-sm-9">
                            <vpe-checkbox class="as-block" [(value)]="editing.tradeable" (onChange)="setTradeable($event)"></vpe-checkbox>
                        </div>
                    </div>

                </div>

                <!-- Error -->
                <div class="form-group row" [hidden]="!showConfirmBtn">
                    <div class="col-12 margin-top" [hidden]="!error">
                        <div class="alert alert-danger">
                            <div class="pull-right">
                                <button type="button" class="close text-white" (click)="clearError()">
                                    <i class="material-icons" style="font-size: 100%;">cancel</i>
                                </button>                
                            </div>
                            {{error}}
                        </div>
                    </div>
                </div>     

                <!-- confirm -->
                <div class="form-group row margin-top" [hidden]="!showConfirmBtn">
                    <label class="col-sm-2 col-form-label nowrap"></label>
                    <div class="col-sm-10 text-right">
                        <span class="btn btn-lg btn-success"
                            [ngClass]="{disabled: !okConfirm()}"
                            (click)="confirm()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!loading"></span>
                            <i class="material-icons" [hidden]="loading">done</i>
                            {{local.string.confirm|titlecase}}
                        </span>
                    </div>
                </div>             

                <!-- token already registered (wanna edit?) -->
                <div [hidden]="!editable || stepOneSucceed">
                    <div class="pull-right">
                        <a class="btn btn-lg btn-success"
                            (click)="editToken(thetoken)"
                        >
                            <span [hidden]="editing.owner == dex.logged">
                                <i class="material-icons" [hidden]="loading">remove_red_eye</i> {{local.string.viewtkn|titlecase}}
                            </span>
                            <span [hidden]="editing.owner != dex.logged">
                                <i class="material-icons" [hidden]="loading">edit</i> {{local.string.edittkn|titlecase}}
                            </span>
                        </a>
                    </div>
                    <span class="text-md">
                        {{local.string.tknyaregist}}<br>
                        <span [hidden]="editing.owner != dex.logged">{{local.string.wannaedittkn}}</span>
                        <span [hidden]="editing.owner == dex.logged">{{local.string.onlyadminedit}}</span>
                    </span>
                </div>


                <!-- prueba 
                    <div class="form-group row margin-top">
                        <label class="col-sm-2 col-form-label nowrap"></label>
                        <div class="col-sm-10 text-right">
                            <span class="btn btn-lg btn-success"
                                (click)="prueba()">
                                PRUEBA
                            </span>
                        </div>
                    </div>
                -->
                
            </div>
        </div>
    </div>

<!--
    <div class="margin-top-md">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <pre>{{editing.tradeable|json}}</pre>
            </div>
        </div>
    </div>
-->


</div>