<div class="container" >

    <div class="row margin-top" [hidden]="!dex.logged">
        <div class="col-auto margin-top">
            <span class="btn btn-lg" [ngClass]="{'btn-primary':tab!=TAB.CREATE,'btn-success':tab==TAB.CREATE}" (click)="changeTab(TAB.CREATE)">
                <i class="material-icons"> add_circle_outline </i>
                <span> {{local.string.createnewtkn}}</span>
            </span>
        </div>
        <div class="col-auto margin-top">
            <span class="btn btn-lg" [ngClass]="{'btn-primary':tab!=TAB.REGISTER,'btn-success':tab==TAB.REGISTER}" (click)="changeTab(TAB.REGISTER)">
                <i class="material-icons"> playlist_add </i>
                <span> {{local.string.registertkn}} </span>
            </span>
        </div>
    </div>

    <div class="margin-top-md">
        <div class="card text-white bg-dark">
            <div class="card-header vpe-background-card-header" [hidden]="!dex.logged">
                <div [hidden]="tab != TAB.CREATE">
                    <span class="text-lg">{{local.string.tkncreation | titlecase}}</span><br>
                    <span class="text-md">{{local.string.tkncreationtxt}}</span>
                </div>
                <div [hidden]="tab != TAB.REGISTER">
                    <span class="text-lg">{{local.string.tknregist | titlecase}}</span><br>
                    <span class="text-md">{{local.string.tknregisttxt}}</span>
                </div>
                <div [hidden]="tab != TAB.EDIT">
                    <span class="text-lg">{{local.string.tknedition | titlecase}}</span><br>
                    <span class="text-md">{{local.string.tkneditiontxt}}</span>        
                </div>
            </div>
            <div class="card-header vpe-background-card-header" [hidden]="dex.logged">
                <div class="pull-right">
                    <div class="pull-right margin-top">
                        <span class="btn btn-sm btn-primary" (click)="dex.login()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('login') && !dex.feed.loading('log-state')"></span>
                            {{local.string.LoginWScOrSq}}
                        </span>
                    </div>
                </div>             
                <span class="text-md">{{local.string.logintoedit}}</span>
            </div>
        </div>
    </div>


    <div class="margin-top-md" [hidden]="!thetoken">
        <div class="card text-white bg-dark">
            <div class="card-header vpe-background-card-header">
                <div class="row">
                    <div class="col-12">
                        <div class="pull-right">
                            <span class="btn btn-sm btn-danger margin-top-xs"
                                (click)="discardTheToken()">
                                <i class="material-icons" [hidden]="loading">cancel</i>
                                forget
                            </span>
                        </div>                        
                        <span class="text-lg" [hidden]="editable">Token: {{thetoken?.symbol}}</span> 
                        <span class="text-lg" [hidden]="!editable">
                            <img style="height:20px; width: 20px; margin-top:-3px" [src]="editing?.logo">
                            <span class="card-title">
                                {{editing?.title}}
                            </span>                            
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-sm-2 col-form-label nowrap">{{local.string.contract|titlecase}}:</label>
                    <label class="col-sm-4 col-form-label">{{thetoken?.contract}}</label>
                    <label class="col-sm-2 col-form-label nowrap">{{local.string.maxsupply|titlecase}}:</label>
                    <label class="col-sm-4 col-form-label text-right">{{thetoken?.stat?.max_supply?.toString()}}</label>
                </div>

                <div class="row">
                    <label class="col-sm-2 col-form-label nowrap">{{local.string.issuer|titlecase}}:</label>
                    <label class="col-sm-4 col-form-label">{{thetoken?.stat?.issuer}}</label>
                    <label class="col-sm-2 col-form-label nowrap">{{local.string.cursupply|titlecase}}:</label>
                    <label class="col-sm-4 col-form-label text-right">{{thetoken?.stat?.supply?.toString()}}</label>
                </div>

            </div>
        </div>
    </div>    

    <div class="margin-top-md">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <!-- CREATE TAB -->
                <div [hidden]="tab != TAB.CREATE || thetoken">

                    <!-- Symbol -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label nowrap">{{local.string.symbol|titlecase}}:</label>
                        <div class="col-sm-10">
                            <i _ngcontent-c4="" class="material-icons input-icon danger" [hidden]="symbolIsGood">cancel</i>
                            <i _ngcontent-c4="" class="material-icons input-icon success" [hidden]="!symbolIsGood">done</i>
                            <input class="form-control col-form-label" placeholder="symbol" [(uppercase)]="newtoken.symbol" (uppercaseChange)="onTokenChange($event)">
                        </div>
                    </div>
    
                    <!-- Contract -->
                    <div class="form-group row">
                        <label class="col-12 d-block d-sm-none col-form-label nowrap">{{local.string.contract|titlecase}}: {{newtoken.contract}}</label>
                        <label class="col-2 d-none d-sm-block col-form-label nowrap">{{local.string.contract|titlecase}}:</label>
                        <label class="col-10 d-none d-sm-block col-form-label">{{newtoken.contract}}</label>
                    </div>
    
                    <!-- precision -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label nowrap">{{local.string.precision|titlecase}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control col-form-label" type="number" placeholder="precision" [(ngModel)]="newtoken.precision">
                        </div>
                    </div>
    
                    <!-- Max Supply -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label nowrap">{{local.string.maxsupply|titlecase}}:</label>
                        <div class="col-sm-10">
                            <input class="form-control col-form-label" placeholder="maximun supply" [(ngModel)]="max_supply">
                        </div>
                    </div>

                </div>

                <!-- REGISTER TAB -->
                <div [hidden]="tab != TAB.REGISTER">

                    <div [hidden]="thetoken">
                        <!-- Symbol -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label nowrap">{{local.string.symbol|titlecase}}:</label>
                            <div class="col-sm-9" >
                                <i _ngcontent-c4="" class="material-icons input-icon danger" [hidden]="symbolIsGood">cancel</i>
                                <i _ngcontent-c4="" class="material-icons input-icon success" [hidden]="!symbolIsGood">done</i>
                                <input class="form-control col-form-label" placeholder="symbol" [(uppercase)]="newtoken.symbol" (uppercaseChange)="onTokenChange($event)">
                            </div>
                        </div>
        
                        <!-- Contract -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label nowrap">{{local.string.contract|titlecase}}:</label>
                            <div class="col-sm-9">
                                <input class="form-control col-form-label" placeholder="contract" [(ngModel)]="newtoken.contract" (ngModelChange)="onTokenChange($event)">
                            </div>
                        </div>    
                    </div>
    
                </div>

                <div [hidden]="tab == TAB.CREATE || !thetoken || editable">
                    <!-- title -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.title|titlecase}}:</label>
                        <div class="col-sm-9" >
                            <input class="form-control col-form-label" placeholder="title" [(ngModel)]="editing.title" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                    </div>

                    <!-- brief -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.about|titlecase}}:</label>
                        <div class="col-sm-9" >
                            <textarea class="form-control col-form-label" placeholder="brief" [(ngModel)]="editing.brief" (ngModelChange)="onTokenInfoChange($event)"></textarea>
                        </div>
                    </div>

                    <!-- website -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.website|titlecase}}:</label>
                        <div class="col-sm-9" >
                            <input class="form-control col-form-label" placeholder="website" [(ngModel)]="editing.website" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                    </div>

                    <!-- banner -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.banner|titlecase}}:</label>
                        <div class="col-sm-9" >
                            <input class="form-control col-form-label" placeholder="banner" [(ngModel)]="editing.banner" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                    </div>

                    <!-- logo -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.icon|titlecase}}:</label>
                        <div class="col-sm-9" >
                            <input class="form-control col-form-label" placeholder="logo" [(ngModel)]="editing.logo" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                    </div>

                    <!-- logolg -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.bigicon|titlecase}}:</label>
                        <div class="col-sm-9" >
                            <input class="form-control col-form-label" placeholder="logolg" [(ngModel)]="editing.logolg" (ngModelChange)="onTokenInfoChange($event)">
                        </div>
                    </div>

                    <!-- tradeable -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label nowrap">{{local.string.tradeable|titlecase}}:</label>
                        <div class="col-sm-9">
                            <vpe-checkbox class="as-block" [(value)]="editing.tradeable" (onChange)="setTradeable($event)"></vpe-checkbox>
                        </div>
                    </div>

                </div>                


                <!-- Error -->
                <div class="form-group row">
                    <div class="col-12 margin-top" [hidden]="!error">
                        <div class="alert alert-danger">
                            <div class="pull-right">
                                <button type="button" class="close text-white" (click)="clearError()">
                                    <i class="material-icons" style="font-size: 100%;">cancel</i>
                                </button>                
                            </div>
                            {{error}}
                        </div>
                    </div>
                </div>     



                <!-- confirm -->
                <div class="form-group row margin-top" [hidden]="editable">
                    <label class="col-sm-2 col-form-label nowrap"></label>
                    <div class="col-sm-10 text-right">
                        <span class="btn btn-lg btn-success"
                            [ngClass]="{disabled: !okConfirm()}"
                            (click)="confirm()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!loading"></span>
                            <i class="material-icons" [hidden]="loading">done</i>
                            {{local.string.confirm|titlecase}}
                        </span>
                    </div>
                </div>


                <div [hidden]="!editable">
                    <div class="pull-right">
                        <a class="btn btn-lg btn-success"
                            [routerLink]="'/exchange/token/' + thetoken?.symbol.toLowerCase()"
                        >
                            <span [hidden]="editing.owner == dex.logged">
                                <i class="material-icons" [hidden]="loading">remove_red_eye</i> {{local.string.viewtkn|titlecase}}
                            </span>
                            <span [hidden]="editing.owner != dex.logged">
                                <i class="material-icons" [hidden]="loading">edit</i> {{local.string.edittkn|titlecase}}
                            </span>
                        </a>
                    </div>
                    <span class="text-md">
                        {{local.string.tknyaregist}}<br>
                        <span [hidden]="editing.owner != dex.logged">{{local.string.wannaedittkn}}</span>
                        <span [hidden]="editing.owner == dex.logged">{{local.string.onlyowneredit}}</span>
                    </span>
                </div>


            <!-- prueba 
                <div class="form-group row margin-top">
                    <label class="col-sm-2 col-form-label nowrap"></label>
                    <div class="col-sm-10 text-right">
                        <span class="btn btn-lg btn-success"
                            (click)="prueba()">
                            PRUEBA
                        </span>
                    </div>
                </div>
            -->
                
            </div>
        </div>
    </div>

<!--
    <div class="margin-top-md">
        <div class="card text-white bg-dark">
            <div class="card-body">
                <pre>{{editing.tradeable|json}}</pre>
            </div>
        </div>
    </div>
-->


</div>