body ng-sidebar-container {
    background-image: url(/assets/uploads/forest-438432_640.jpg);
    background-size: cover;
}


vpe-panel-markets .active-on-hover:hover {
    background-color: #353e37 !important;
}

.calculated-in-currency {
    color: yellow !important;
    font-weight: bold;
}

div.card, div.card.vpe-background-panel {
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
    border: 1px solid #182720;
}

vpe-panel table {
    color: white !important;
}

.nav-item.highlight {
    -webkit-box-shadow: inset 0px 0px 17px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 17px 0px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 17px 0px rgba(255,255,255,1);
}

/* HOME */
div div.jumbotron.vpe-background-jumbotron {
    background-image: linear-gradient(to bottom, #1b211fd0 0%, #2a332ad0 100%);
}

/* ---- Token ---- */
div.token-description, div.token-markets {
    padding: 15px;
    border-radius: 8px;
    background: #060f09ad;
}

div.token-markets {
    padding-top: 26px;
}

div.token-banner.background-holder {
    background-color: black;
}