body {
    background-color: rgb(196, 202, 204);
}

body ng-sidebar-container {
    /*
    background-image: url(/assets/uploads/drip-2806027_640.jpg);    
    background-size: cover;
    */
}

nav.navbar.vpe-background-navbar {
    background: none;
    background-color: transparent  !important;
}

nav.navbar.vpe-background-navbar div.navbar-collapse a {
    color: white !important;
}

ng-sidebar div.sidebar-content {
    background: none;
    background-color: transparent  !important;

}

/* ---- HOME ---- */

div div.jumbotron.vpe-background-jumbotron {
    background: none;
    background-color: transparent  !important;
}

div.card, div.card.vpe-background-panel {
    background: none;
    background-color: transparent  !important;    
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
}

div.card div.card-body {
    background: none;
    background-color: transparent  !important;
}

div.card div.card-body.vpe-background-card-body {
    background: none;
    background-color: transparent  !important;
}

div.card div.card-header.vpe-background-card-header {
    background: none;
    background-color: transparent  !important;
}

div.title.vpe-background-panel-title {
    background: none;
    background-color: transparent  !important;
}


/* dropdown */

.dropdown-menu {
    background-color: #e8f8ff;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.315);
}

.dropdown-menu .dropdown-item {
    color: black;
}
.dropdown-menu .dropdown-item:hover {
    color: white;
}
.dropdown-menu .dropdown-item.active {
    color: white;
    background-color: #4d8a9a;
}

/* Token */
div.token-banner.background-holder {
    background-color: black;
}