body {
    background-color: rgb(196, 202, 204);
    color: black !important;
}

body ng-sidebar-container {
    background-image: url(/assets/uploads/landscape-4436636_960_720.jpg);    
    background-size: cover;    
}

ng-sidebar div.sidebar-content {
    background: none;
    background-color: white !important;
}

ng-sidebar div.sidebar-content li a { color: black; }
ng-sidebar div.sidebar-content li.active { background-color: #58b3cc !important; }
ng-sidebar div.sidebar-content li.active a { color: white; }

nav.navbar.vpe-background-navbar {
    background: linear-gradient(to bottom, rgba(73,165,191,1) 0%, rgba(117,189,209,1) 59%, rgba(147,206,222,1) 100%);
}

nav.navbar.vpe-background-navbar div.navbar-collapse a {
    color: white !important;
}



.navbar .nav-item.active .nav-link {
    background-image: linear-gradient(#1c4a77, #2c445d 40%, #40789c)
}


.navbar .nav-link:hover, .navbar .nav-link:focus {
    background: #022d3879;
    -webkit-filter: none;
    filter: none;
    border-left: 1px solid rgba(0,0,0,0.2);
}



/* ---- Token ---- */
div.token-description, div.token-markets {
    padding: 15px;
    border-radius: 8px;
    background: #cfe2f545;
}

div.token-markets {
    padding-top: 26px;
}

/* ---- HOME ---- */

div div.jumbotron.vpe-background-jumbotron .text-muted {
    color: #425581 !important;
    font-weight: bold;
}
div div.jumbotron.vpe-background-jumbotron .text-muted .text-version {
    color: white !important;
}
div div.jumbotron.vpe-background-jumbotron {
    background: linear-gradient(to bottom, rgba(73,165,191,0.6) 0%, rgba(117,189,209,0.6) 59%, rgba(147,206,222,0.6) 100%);
}

div.card, div.card.vpe-background-panel {
    background: none;
    background-color: transparent !important;    
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
    border: 2px solid #6181cc;
}

div.card div.card-body {
    background: none;
    background-color: white !important;
    color: black !important;
}

div.card div.card-body.vpe-background-card-body {
    background: none;
    background-color: white !important;
    color: black !important;
}

div.card div.card-header.vpe-background-card-header {
    background: linear-gradient(to bottom, rgba(45,100,115,1) 0%, rgba(106,171,189,1) 100%);
    color: white !important;
}

div.card div.card-header.vpe-background-card-header .text-muted {
    color: rgb(192, 192, 192) !important;
}

div.title.vpe-background-panel-title {
    background: linear-gradient(to bottom, rgba(45,100,115,1) 0%, rgba(106,171,189,1) 100%);
    color: white !important;
}

/* Buttons */

.btn.btn-primary {
    background: linear-gradient(to bottom, rgba(63,141,163,1) 0%, rgba(106,171,189,1) 59%, rgba(76,194,224,1) 100%);
    color: white !important;
    border: 1px solid #6181cc;
}

vpe-panel-orders div.orders div.nowrap.price {
    font-weight: bold;
}

vpe-panel-markets .active-on-hover:hover, vpe-panel-orders .active-on-hover:hover {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* dropdown */

.dropdown-menu {
    background-color: #e8f8ff;
}

.dropdown-menu .dropdown-item {
    color: black;
}
.dropdown-menu .dropdown-item:hover {
    color: white;
}
.dropdown-menu .dropdown-item.active {
    color: white;
    background-color: #4d8a9a;
}

.calculated-in-currency {
    color: #0fa6cc !important;
    font-weight: bold;
}

.total-balance.calculated-in-currency {
    color: #b6f0ff !important;
    font-weight: bold;
}