<div class="card text-white bg-dark margin-top">
    <div class="card-header vpe-background-card-header">
        <div class="row">
            <div class="col-sm-auto col-padding-right">
                <identicon-comp [value]="current.name"></identicon-comp>
            </div>
            <div class="col col-padding-left">
                <div [ngClass]="{'d-none':vapaee.loginState != 'no-scatter'}">
                    <div class="pull-right text-center" [hidden]="!current.data.total_balance">
                        <span class="btn btn-sm btn-primary" (click)="scatter.connectApp()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!vapaee.feed.loading('log-state')"></span>
                            {{local.string.retry | titlecase}}
                        </span><br>
                        <span>{{local.string.noWallet}}</span>
                        <br>
                        <br>
                        <vpe-fiat-combobox></vpe-fiat-combobox>
                    </div>
                </div>

                <!-- current != guest - Wallet detected but not logged -->
                <div [ngClass]="{'d-none':vapaee.loginState != 'no-logged'}">
                    <div class="pull-right text-right"  [hidden]="!current.data.total_balance">
                        <span class="btn btn-sm btn-success" (click)="vapaee.login()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!vapaee.feed.loading('login') && !vapaee.feed.loading('log-state')"></span>
                            {{local.string.LoginWScOrSq}}
                        </span>
                        <!-- 
                        <br>
                        <span>{{local.string.NotLogged}}</span>
                        -->
                        <br>
                        <br>
                        <vpe-fiat-combobox></vpe-fiat-combobox>         
                    </div>
                </div>


                <div class="text-xl">
                    {{current.name}}
                    <span [ngClass]="{'d-none':!vapaee.logged}">
                        <span class="btn btn-sm btn-primary margin-left" (click)="vapaee.logout()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!vapaee.feed.loading('logout') && !vapaee.feed.loading('log-state')"></span> 
                            <span> {{local.string.logout}} </span>
                        </span>
                    </span>
                </div>

                <!-- Fake tokens -->
                <!--div [hidden]="!vapaee.logged">
                    <div class="pull-right">
                        <span class="btn btn-sm btn-primary" (click)="freeFakeTokens()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!loading_fake"></span>
                            {{local.string.getfftokens | titlecase}}
                        </span>
                    </div>
                </div--> 
                
                <!-- No Wallet detected -->
                <div [ngClass]="{'d-none':vapaee.loginState != 'no-scatter'}" [hidden]="current.data.total_balance">
                    <div class="pull-right text-center">
                        <span class="btn btn-sm btn-primary" (click)="scatter.connectApp()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!scatter.feed.loading('connect')"></span>
                            {{local.string.retry | titlecase}}
                        </span>
                    </div>
                    <span>{{local.string.noWallet}}</span>
                </div>

                <!-- Wallet detected but not logged -->
                <div [ngClass]="{'d-none':vapaee.loginState != 'no-logged'}" [hidden]="current.data.total_balance">
                    <div class="pull-right text-center">
                        <span class="btn btn-sm btn-primary" (click)="vapaee.login()">
                            <span class="spinner-border spinner-border-sm" [hidden]="!vapaee.feed.loading('login') && !vapaee.feed.loading('log-state')"></span>
                            {{local.string.LoginWScOrSq}}
                        </span>
                    </div>
                    <span>{{local.string.NotLogged}}</span>
                </div>

                <!-- Total balance (if any) -->
                <div class="text-md nowrap" [hidden]="!current.data.total_balance">
                    <small>total balance: </small>
                    <span class="text-md"> {{current.data.total_balance}} </span>
                    <span class="text-sm color-yellow d-none d-md-inline"> ({{service.getTelosInCurrentCurrency(current.data.total_balance)}}) </span>

                    <div class="pull-right" [hidden]="!vapaee.logged">
                        <vpe-fiat-combobox></vpe-fiat-combobox>
                    </div>                    
                </div>
                <div class="text-md nowrap" [hidden]="!current.data.total_balance">
                    <span class="text-sm color-yellow d-sm d-md-none"> ({{service.getTelosInCurrentCurrency(current.data.total_balance)}}) </span>
                </div>
                
            </div>
        </div>
    </div>
</div>