<vpe-panel [id]="'vpe-panel-wallet'" (onResize)="onResize($event)" [margintop]="margintop" [hideheader]="hideheader" [expanded]="expanded" [title]="local.string.wallet" (click)="debug()">
    <div class="row">

        <!-- title if used -->
        <div class="col-sm-12">
            <div class="text-lg text-center">{{title | titlecase}}</div>
        </div>

        <!-- login header -->
        <div class="col-sm-12 mb-2" [hidden]="dex.logged || hideuser">
            <div class="margin-top d-flex flex-column">
                <span class="flex-gorw-1 btn btn-sm btn-fancy text-sm" (click)="dex.login()">
                    <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('login') && !dex.feed.loading('log-state')"></span>
                    {{local.string.LoginWScatter}}
                </span>
            </div>
        </div>

        <div class="col-sm-12">
            <!-- account header -->
            <div>
                <div class="pull-right mb-2" [hidden]="hideuser || !dex.logged">
                    <small class="text-muted cursor-pointer" (click)="clickOnAccount()">
                        {{local.string.LoggedAs}} '{{dex.account_name}}'
                    </small>
                </div>
            </div>
            <!-- deposits header -->
            <div class="text-md margin-top-xl" [hidden]="!deposits || deposits.length == 0">
                {{local.string.deposits | titlecase}}
                <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('deposits')"></span>

                <!-- withdraw toggle buttons -->
                <div *ngIf="false" class="pull-right mb-2" [hidden]="!hideuser || !deposits || deposits.length == 0">
                    <span class="btn btn-sm btn-primary" [hidden]="!show_prices_top || (hideuser && !dex.logged)" (click)="show_prices_top=false">
                        {{local.string.withdraw | titlecase}}
                        <i class="material-icons">arrow_downward</i>
                    </span>
                    <span class="btn btn-sm btn-primary" [hidden]="show_prices_top" (click)="show_prices_top=true">
                        {{local.string.hidebtns}}
                        <i class="material-icons">replay</i>
                    </span>
                </div>                
            </div>

            <!-- deposits -->
            <table class="table complete margin-top">
                <tbody>
                    <!-- "no deposits" message -->
                    <tr *ngIf="false" [hidden]="!deposits || deposits.length > 0"><td>
                        <div class="col-sm-12 margin-top text-center text-danger">
                            <label>{{local.string.thesnodeps}}</label>
                        </div>
                        <div class="col-sm-12 margin-top text-center text-danger">
                            <span class="btn btn-sm btn-primary" [hidden]="!show_prices_bottom || !dex.logged"
                                  (click)="first_deposit()">{{local.string.deposit | titlecase}}</span>
                            <div class="col-sm-12 margin-top" [hidden]="!feed.error('first_deposit')">
                                <div class="alert alert-danger">
                                    <div class="pull-right">
                                        <button type="button" class="close text-white" (click)="feed.setError('first_deposit', '')">
                                            <i class="material-icons" style="font-size: 100%;">cancel</i>
                                        </button>                
                                    </div>
                                    {{feed.error('first_deposit')}}
                                </div>
                            </div>                                  
                        </div>
                    </td></tr>
                    <tr
                        [ngClass]="{'active-on-hover':actions}"
                        *ngFor="let deposit of deposits">
                        <!-- Deposit -->
                        <td>
                            <div (click)="withdrawForm(deposit)" [ngClass]="{'cursor-pointer': actions}">
                                <div class="pull-right" style="line-height: 1.5;">
                                    <span class="calculated-in-currency" *ngIf="!hidefiat" [hidden]="!show_prices_top" [ngClass]="{'text-xs':!portrait, 'text-sm':portrait}"> {{service.getTokenInCurrentCurrency(deposit).toString(digits.offchain)}} </span>
                                    <span class="btn btn-xs btn-primary" [hidden]="withdraw.token.symbol != 'AUX' || show_prices_top || !hideuser">{{local.string.withdraw | titlecase}}</span>
                                </div>                                 
                                <img class="token-icon" [src]="deposit.tokenDex.icon || deposit.tokenDex.iconlg || '#'">
                                {{deposit.toString(digits.amount)}}
                                <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('deposits')"></span>
                            </div>
                            <div class="row" [hidden]="deposit.token.symbol != withdraw.token.symbol">
                                <div class="col-sm-12 margin-top">
                                    <label>{{local.string.withdraw | titlecase}}</label>
                                    <vpe-token-input
                                        [asset]="withdraw"
                                        (valueChange)="withdraw = $event"
                                        (valueEnter)="onConfirmWithdraw($event)"
                                        [precision]="deposit.token.precision"
                                        [button]="local.string.withdraw"
                                        [loading]="loading"
                                        [error]="withdraw_error"
                                        placeholder="{{local.string.withdraw | titlecase}}"></vpe-token-input>
                                </div>
                            </div>                            
                        </td>
                        
                    </tr>
                </tbody>
            </table>
            
        </div>

        <!-- balances -->
        <div class="col-sm-12">
            <!-- withdraw header -->
            <div class="text-md" [hidden]="!dex.logged">
                {{local.string.balances | titlecase}}
                <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('balances')"></span>

                <!-- deposit toggle buttons -->
                <!--div *ngIf="false" class="pull-right" [hidden]="!deposits || deposits.length == 0">
                    <span class="btn btn-sm btn-primary" [hidden]="!show_prices_bottom || hideuser || dex.logged" (click)="clickOnAccount()">
                        {{local.string.deposit | titlecase}}
                        <i class="material-icons">call_made</i>
                    </span>
                    <span class="btn btn-sm btn-primary" [hidden]="!show_prices_bottom || !dex.logged" (click)="show_prices_bottom=false">
                        {{local.string.deposit | titlecase}}
                        <i class="material-icons">arrow_downward</i>
                    </span>
                    <span class="btn btn-sm btn-primary" [hidden]="show_prices_bottom" (click)="show_prices_bottom=true">
                        {{local.string.hidebtns}}
                        <i class="material-icons">replay</i>
                    </span>
                </div-->
            </div>
            <div class="alert alert-info margin-top" [hidden]="!alert_msg">
                <div class="pull-right">
                    <button type="button" class="close text-white" (click)="alert_msg = ''">
                        <i class="material-icons" style="font-size: 100%;">cancel</i>
                    </button>                
                </div>
                {{alert_msg}}
            </div>    
            <table class="table complete margin-top">
                <tbody>
                    <tr 
                        [ngClass]="{'active-on-hover':actions}"
                        [hidden]="balance.amount.toNumber() == 0"
                        *ngFor="let balance of get_non_fake_balances"
                        >

                        <!-- Balance -->
                        <td>
                            <div  [ngClass]="{'cursor-pointer': actions}">
                                <div class="pull-right" style="line-height: 1.5;">
                                    <span class="text-xs calculated-in-currency" *ngIf="!hidefiat" [hidden]="!show_prices_bottom" [ngClass]="{'text-xs':!portrait, 'text-sm':portrait}"> {{service.getTokenInCurrentCurrency(balance).toString(digits.offchain)}} </span>
                                    <span class="btn btn-xs btn-primary" [hidden]="deposit.token.symbol != 'AUX' || show_prices_bottom || !balance.tokenDex.tradeable">{{local.string.deposit | titlecase}}</span>
                                </div>
                                <img [src]="balance.tokenDex.icon || balance.tokenDex.iconlg" style="width: 20px; height: 20px; margin-top:-1px">
                                {{balance.toString()}}
                                <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('balances-'+balance.token.contract) && !dex.feed.loading('token-stat-'+balance.token.symbol)"></span>
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        

    </div>
</vpe-panel>