<vpe-panel [id]="'vpe-panel-chart'" (onResize)="onResize($event)" (onClose)="onClose($event)" [hideheader]="hideheader" [margintop]="margintop" [title]="local.string.chart">
        
    <div class="background" [ngStyle]="bgStyle">
        <!-- 
            <div class="text-lg text-center"><br>{{local.string.chart}}<br>{{local.string.comingsoon}}<br><br></div>
            *ngIf="chartData && chartData.dataTable && chartData.dataTable.length > 0"
        -->
        <google-chart
            *ngIf="!closed && chartData && chartData.dataTable && chartData.dataTable.length > 0"
            [data]="chartData"
            (chartReady)='ready($event)'
            (mouseWheel)="mouseWheel($event)"
        ></google-chart>
            <!--
            (chartReady)="ready($event)"
            (chartError)="error($event)"
            (chartSelect)="select($event)"
            (mouseOver)="mouseOver($event)"
            (mouseOut)="mouseOut($event)"
        -->

    </div>
</vpe-panel>
