<vpe-panel [hideheader]="hideheader" [title]="local.string.orders">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-lg text-center">
                {{title | titlecase}}
                <span class="spinner-border spinner-border-sm" [hidden]="!vapaee.feed.loading('userorders')"></span>
            </div>
        </div>
        <div class="col-sm-12" *ngFor="let scope of user_orders">
            <label class="cursor-pointer" (click)="selectTable(scope.table)">
                {{local.string.table | titlecase}} {{getSymbols(scope.table)}}
            </label>
            <div class="row">
                <div class="nowrap col-sm-5 text-right col-padding-right padding-left-lg">{{local.string.price}}</div>
                <div class="nowrap col-sm-5 text-right col-padding-right col-padding-left">{{local.string.total}}</div>
            </div>
            <perfect-scrollbar style="max-height: 300px; max-width: 100%">
                <div class="row margin-bottom active-on-hover cursor-pointer" 
                    *ngFor="let order of scope.buy.orders"
                    (click)="cancel(scope.buy.table, order)"
                >
                    <div class="nowrap col-sm-5 text-right col-padding-right padding-left-lg"
                        [ngClass]="{'text-danger':order.deposit.token.symbol != order.telos.token.symbol, 'text-success':order.deposit.token.symbol == order.telos.token.symbol}"
                        >
                        {{order.price.toString(8)}}
                    </div>
                    <div class="nowrap col-sm-5 text-right col-padding-right col-padding-left"
                        [ngClass]="{'text-danger':order.deposit.token.symbol != order.telos.token.symbol, 'text-success':order.deposit.token.symbol == order.telos.token.symbol}"
                        >
                        {{order.deposit.toString(8)}}
                    </div>
                    
                    <div class="nowrap col-sm-1 text-right col-padding-left padding-right-lg" [hidden]="!vapaee.logged">
                        <i class="material-icons" style="font-size: 100%;" [hidden]="c_loading[scope.buy.table + order.id]">cancel</i>
                        <span class="spinner-border spinner-border-sm" [hidden]="!c_loading[scope.buy.table + order.id]"></span>
                    </div>
                
                    <div class="col-sm-12" [hidden]="!error">
                        <div class="alert alert-danger">
                            <div class="pull-right">
                                <button type="button" class="close text-white" (click)="error = null">
                                    <i class="material-icons" style="font-size: 100%;">cancel</i>
                                </button>                
                            </div>
                            {{error}}
                        </div>
                    </div>

                </div>

                <div class="row margin-bottom active-on-hover cursor-pointer" 
                    *ngFor="let order of scope.sell.orders"
                    (click)="cancel(scope.sell.table, order)"
                >
                    <div class="nowrap col-sm-5 text-right col-padding-right padding-left-lg"
                        [ngClass]="{'text-danger':order.deposit.token.symbol != order.telos.token.symbol, 'text-success':order.deposit.token.symbol == order.telos.token.symbol}"
                        >
                        {{order.price.toString(8)}}
                    </div>
                    <div class="nowrap col-sm-5 text-right col-padding-right col-padding-left"
                        [ngClass]="{'text-danger':order.deposit.token.symbol != order.telos.token.symbol, 'text-success':order.deposit.token.symbol == order.telos.token.symbol}"
                        >
                        {{order.deposit.toString(8)}}
                    </div>
                    
                    <div class="nowrap col-sm-1 text-right col-padding-left padding-right-lg" [hidden]="!vapaee.logged">
                        <i class="material-icons" style="font-size: 100%;" [hidden]="c_loading[scope.sell.table + order.id]">cancel</i>
                        <span class="spinner-border spinner-border-sm" [hidden]="!c_loading[scope.sell.table + order.id]"></span>
                    </div>
                
                    <div class="col-sm-12" [hidden]="!error">
                        <div class="alert alert-danger">
                            <div class="pull-right">
                                <button type="button" class="close text-white" (click)="error = null">
                                    <i class="material-icons" style="font-size: 100%;">cancel</i>
                                </button>                
                            </div>
                            {{error}}
                        </div>
                    </div>

                </div>
            </perfect-scrollbar>
        </div>        
    </div>
</vpe-panel>