<vpe-panel (click)="open(content)" class="cursor-pointer active-on-hover" [id]="'vpe-panel-tokens'" (onResize)="onResize($event)" [hideheader]="hideheader" [title]="local.string.Tokenlist">
    <div class="row">
        <div class="nowrap col-sm-12 col-padding-right">
            <div class="pull-right">
               <i class="material-icons cursor-pointer"> expand_more </i> 
            </div>
            <img style="height:16px; width: 16px; margin-top:-2px" [src]="current?.logo">
            {{current?.appname}} ({{current?.symbol}})
        </div>
    </div>
</vpe-panel>

<ng-template #content let-modal>
    <vpe-panel-tokens [complete]="false" [margintop]="false" [tokens]="tokens" [scopes]="scopes" [hideheader]='true' (selectToken)="onTokenSelected($event)"></vpe-panel-tokens>
</ng-template>