<vpe-panel [id]="'vpe-panel-orders'" (onResize)="onResize($event)" [margintop]="margintop" [hideheader]="hideheader" [expanded]="expanded" [title]="local.string.orders">
    <div class="row" *ngIf="portrait">
        <div class="nowrap text-bold text-sm col-3 col-padding-right padding-left-lg">{{local.string.price | titlecase}}</div>
        <div class="nowrap text-bold text-sm-right col-3 col-padding-right col-padding-left">{{local.string.amount | titlecase}}</div>
        <div class="nowrap text-bold text-sm-right col-3 col-padding-right col-padding-left">{{local.string.total | titlecase}}</div>
        <div class="nowrap text-bold text-sm-right col-3 col-padding-left padding-right-lg">{{local.string.sum | titlecase}}</div>
        <div class="col-12 margin-top">
            <perfect-scrollbar style="max-height: 300px; max-width: 100%">
                <div class="row margin-bottom danger active-on-hover cursor-pointer" 
                    [ngClass]="{'owner':row.owners[vapaee.account.name]}"
                    *ngFor="let row of orders_sell_inverted"
                >
                    <div class="nowrap col-3 col-padding-right text-danger padding-left-lg" (click)="clickPrice('sell', row)">{{row.price.valueToString(digits.price, true)}}</div>
                    <div class="nowrap col-3 text-right col-padding-right col-padding-left" (click)="clickRow('sell', row)">{{row.total.valueToString(digits.total, true)}}</div>
                    <div class="nowrap col-3 text-right col-padding-right col-padding-left" (click)="clickRow('sell', row)">{{row.telos.valueToString(digits.telos, true)}}</div>
                    <div class="nowrap col-3 text-right padding-right-lg" (click)="clickRow('sell', row)">{{row.sumtelos.valueToString(digits.sumtelos, true)}}</div>
                </div>

                <div class="row margin-bottom">
                    <div class="nowrap col-12">
                        <hr class="line" />
                    </div>
                </div>                    

                <div class="row margin-bottom success active-on-hover cursor-pointer"
                    [ngClass]="{'owner':row.owners[vapaee.account.name]}"
                    *ngFor="let row of orders.buy"
                >
                    <div class="nowrap col-3 col-padding-right text-success padding-left-lg" (click)="clickPrice('buy', row)">{{row.price.valueToString(digits.price, true)}}</div>    
                    <div class="nowrap col-3 text-right col-padding-right col-padding-left" (click)="clickRow('buy', row)">{{row.total.valueToString(digits.total, true)}}</div>
                    <div class="nowrap col-3 text-right col-padding-right col-padding-left" (click)="clickRow('buy', row)">{{row.telos.valueToString(digits.telos, true)}}</div>
                    <div class="nowrap col-3 text-right padding-right-lg " (click)="clickRow('buy', row)">{{row.sumtelos.valueToString(digits.sumtelos, true)}}</div>
                </div>                    
            </perfect-scrollbar>
        </div>        
    </div>




    <div class="row" *ngIf="!portrait">
        <div class="col-6">
            <div class="row margin-top">
                <div class="col-12">
                    <div class="pull-right">
                        <span class="text-muted">
                            {{headers.sell ? headers.sell.orders : 0}} {{local.string.orders}}
                            <span [hidden]="split"> - </span>
                            <span [hidden]="!split"><br></span>
                            {{headers.sell.total ? headers.sell.total.toString() : ""}}
                        </span>
                    </div>
                    <span class="text-bold text-sm">{{local.string.sell_orders | titlecase}} </span>
                    <span class="spinner-border spinner-border-sm" [hidden]="!vapaee.feed.loading('sellorders')"></span>
                </div>
            </div>
            <div class="row margin-top">
                <div class="nowrap text-bold text-sm col-3 col-padding-right padding-left-lg">{{local.string.price | titlecase}}</div>
                <div class="nowrap text-bold text-sm-right col-3 col-padding-right col-padding-left">{{local.string.amount | titlecase}}</div>
                <div class="nowrap text-bold text-sm-right col-3 col-padding-right col-padding-left">{{local.string.total | titlecase}}</div>
                <div class="nowrap text-bold text-sm-right col-3 col-padding-left padding-right-lg">{{local.string.sum | titlecase}}</div>
            </div>
            <div class="row margin-top">
                <div class="col-12">
                    <perfect-scrollbar style="max-height: 300px; max-width: 100%">
                        <div class="row margin-bottom danger active-on-hover cursor-pointer" 
                            [ngClass]="{'owner':row.owners[vapaee.account.name]}"
                            *ngFor="let row of orders.sell"
                        >
                            <div class="nowrap col-3 col-padding-right text-danger padding-left-lg" (click)="clickPrice('sell', row)">{{row.price.valueToString(digits.price, true)}}</div>
                            <div class="nowrap col-3 text-right col-padding-right col-padding-left" (click)="clickRow('sell', row)">{{row.total.valueToString(digits.total, true)}}</div>
                            <div class="nowrap col-3 text-right col-padding-right col-padding-left" (click)="clickRow('sell', row)">{{row.telos.valueToString(digits.telos, true)}}</div>
                            <div class="nowrap col-3 text-right padding-right-lg" (click)="clickRow('sell', row)">{{row.sumtelos.valueToString(digits.sumtelos, true)}}</div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row margin-top">
                <div class="col-12">
                    <div class="pull-right">
                        <span class="text-muted">
                            {{iheaders.sell ? iheaders.sell.orders : 0}} {{local.string.orders}}
                            <span [hidden]="split"> - </span>
                            <span [hidden]="!split"><br></span>
                            {{iheaders.sell.total ? iheaders.sell.total.toString() : ""}}
                        </span>
                    </div>
                    <span class="text-bold text-sm">{{local.string.buy_orders | titlecase}} </span>
                    <span class="spinner-border spinner-border-sm" [hidden]="!vapaee.feed.loading('buyorders')"></span>
                </div>
            </div>
            <div class="row margin-top">
                <div class="nowrap text-bold text-sm col-3 col-padding-right padding-left-lg">{{local.string.price | titlecase}}</div>
                <div class="nowrap text-bold text-sm-right col-3 col-padding-right col-padding-left">{{local.string.amount | titlecase}}</div>
                <div class="nowrap text-bold text-sm-right col-3 col-padding-right col-padding-left">{{local.string.total | titlecase}}</div>
                <div class="nowrap text-bold text-sm-right col-3 col-padding-left padding-right-lg">{{local.string.sum | titlecase}}</div>
            </div>
            <div class="row margin-top">
                <div class="col-12">
                    <perfect-scrollbar style="max-height: 300px; max-width: 100%">
                        <div class="row margin-bottom success active-on-hover cursor-pointer"
                            [ngClass]="{'owner':row.owners[vapaee.account.name]}"
                            *ngFor="let row of orders.buy"
                        >
                            <div class="nowrap col-3 col-padding-right text-success padding-left-lg" (click)="clickPrice('buy', row)">{{row.price.valueToString(digits.price, true)}}</div>    
                            <div class="nowrap col-3 text-right col-padding-right col-padding-left" (click)="clickRow('buy', row)">{{row.total.valueToString(digits.total, true)}}</div>
                            <div class="nowrap col-3 text-right col-padding-right col-padding-left" (click)="clickRow('buy', row)">{{row.telos.valueToString(digits.telos, true)}}</div>
                            <div class="nowrap col-3 text-right padding-right-lg " (click)="clickRow('buy', row)">{{row.sumtelos.valueToString(digits.sumtelos, true)}}</div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
</vpe-panel>