:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

div.owner.danger {
    background-color: #796e6e61;
}

div.owner.success {
    background-color: #6e796e61;
}


div.swap.danger {
    background-color: #2b1d27ad;
}

div.swap.success {
    background-color: #0a151d61;
}