<div class="margin-top-lg container">
    <div class="row">
        <div class="col">


            <div class="card text-white bg-dark vpe-background-panel margin-top">
                <div class="card-body padding-lg">
                        
    
                    <div class="margin-top-lg">
                        <div class="row">
                            <div class="col text-center">
                                <img src="/assets/img/vapaee-telos-dex-shadow.png" style="max-width:100%;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center text-md" id="vapaée---worker-proposal-2" >
                                Vapaée - worker proposal 2
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col text-center text-xl" id="financing-the-development-of-dex-vapaeeio-and-the-production-of-its-review-video" >
                                Financing Vapaee.io DEX development
                            </div>
                        </div>
                    </div>
                    <hr class="line">


                    <!--div class="margin-top-lg">
                        user: {{vapaee.current.name|json}}<br>
                        user_is_registered: {{user_is_registered|json}}<br>
                        user_voted_us: {{user_voted_us|json}}<br>
                    </div-->

                    <div class="margin-top">
                        <div class="row margin-top">
                            <div class="col-sm-12" [hidden]="!feed.error('voting')">
                                <div class="alert alert-danger">
                                    <div class="pull-right">
                                        <button type="button" class="close text-white" (click)="resetError()">
                                            <i class="material-icons" style="font-size: 100%;">cancel</i>
                                        </button>
                                    </div>
                                    {{feed.error("voting")}}
                                </div>
                            </div>                                 
                            <div class="col-sm-12 margin-top" [hidden]="!this.user_voted_us || this.user_dismiss">
                                <div class="alert alert-success text-center text-md" role="alert">
                                    <div class="pull-right">
                                        <button type="button" class="close text-white" data-dismiss="alert" (click)="dismiss()">
                                            <i class="material-icons" style="font-size: 100%;">cancel</i>
                                        </button>                
                                    </div>
                                    <b>Thank you for supporting this proposal !!</b>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center margin-top-lg" [hidden]="this.user_voted_us || feed.loading('voting')">
                                <!--button type="button" class="btn btn-warning text-md" (click)="voteForUs()">
                                    <span class="spinner-border spinner-border-sm" [hidden]="!feed.loading('user-voted')"></span>
                                    <span>Please, support this project !!</span>
                                </button-->
                                <div class="alert alert-secondary margin-top-xl" role="alert">
                                    <h3>IMPORTANT</h3>
                                    <p class="margin-top">
                                        For reasons of development delay I have decided not to claim the funds of the second cycle of this WP until the next version is effectively finished and delivered.
                                    </p>
                                    <p>
                                        Thanks to everyone who has supported my work so far, I will not disappoint you!                                    
                                    </p>
                                </div>
                            </div>

                            <div class="col-sm-12 text-center margin-top-lg" [hidden]="this.user_voted_us || !feed.loading('voting')">
                                <div class="alert alert-info text-left text-md" role="alert">
                                    <div [ngClass]="{'d-none':dex.loginState != 'no-logged'}" [hidden]="dex.current.data.total_balance">
                                        <div class="pull-right text-center">
                                            <span class="btn btn-sm btn-primary" (click)="dex.login()">
                                                <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('login') && !dex.feed.loading('log-state')"></span>
                                                {{local.string.LoginWScatter}}
                                            </span>
                                        </div>
                                        <span>{{local.string.NotLogged}}</span>
                                    </div>                                    
                                    <span class="nowrap"> Step 1: Register voter
                                        <span class="spinner-border spinner-border-sm" [hidden]="!feed.loading('regvoter')"></span>
                                        <span [hidden]="feed.loading('regvoter')">
                                            <i style="vertical-align: sub;" class="material-icons"> check </i>
                                        </span>
                                    </span><br>
                                    <span class="nowrap"> Step 2: Update voting power
                                        <span class="spinner-border spinner-border-sm" [hidden]="!feed.loading('mirrorcast')"></span>
                                        <span [hidden]="feed.loading('mirrorcast')">
                                            <i style="vertical-align: sub;" class="material-icons"> check </i>
                                        </span>
                                    </span><br>
                                    <span class="nowrap"> Step 3: Vote for this project
                                        <span class="spinner-border spinner-border-sm" [hidden]="!feed.loading('voting')"></span>
                                    </span><br>                                    
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <!--div class="margin-top-lg">
                        <pre>{{feed.scopes|json}}</pre>
                    </div-->

                    <div class="margin-top-lg">                      
                        <div class="row margin-top">
                            <div class="col text-justify text-sm" id="intro">
                                <strong>Note:</strong> if you prefer a version of this same document in black text with a white background,
                                you can read it from <a href="https://github.com/vapaee/worker-proposal-2-Vapaee.io-DEX-and-review-video" target="_blanck">this page on github.</a>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col text-justify text-lg" id="intro">
                                Intro
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col text-justify text-sm">
                                <p>Hello, everybody. My name is <a target="_blank"
                                    href="https://steemit.com/introduceyourself/@viterbo/i-am-an-entrepreneur-and-i-m-going-to-build-a-dapp-over-eos"
                                    target="_blank">Viterbo</a> and if you don't know me already from the Telegram Telos groups, I'm responsible for the
                                    <a target="_blank" href="http://cardsandtokens.com" target="_blank">Cards &amp; Tokens</a> platform that will run on Telos,
                                    and also I'm the creator of <a target="_blank" href="https://vapaee.io" target="_blank">Vapaée.io</a> Telos first DEX already deployed on
                                    the main net (in an alpha version with fake tokens to test without risks).<br>
                                    Please <a target="_blank" href="https://vapaee.io/exchange/account/" target="_blank">login with scatter</a> and try it.</p>
                                
                                <p>This <a target="_blank" href="https://vapaee.io" target="_blank">Vapaée.io</a> DEX was planned as a submodule of the <a
                                    href="http://cardsandtokens.com" target="_blank">Cards &amp; Tokens</a> platform (that covers the "Tokens" part)
                                    and bring a lot of token services to other Dapps and users (including token exchange). Although it had low priority,
                                    <a target="_blank" href="https://steemit.com/telos/@viterbo/vapaee-first-telos-dex" target="_blank">something made me change my
                                    mind</a> and I decide to start on this module.</p>
                                
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col text-justify text-lg" id="budget-summary">
                                Budget Summary
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col text-justify text-sm">
                                <p>This worker proposal is for <strong>3 cycles of 140K TLOS each</strong>. <span strike>Only 30K of the first cycle will be sold
                                    in the market. The rest will remain as a future personal investment and, hopefully, will never be sold,
                                    but used as currency.</span></p>
                                <ul>
                                    <li class="checked subtitle">
                                        <p><strong>Cycle 1</strong> - 140K TLOS</p>
                                        <ul>
                                            <li class="checked">Development of the <strong>Premium</strong> version of <a target="_blank" href="https://vapaee.io"
                                                target="_blank">Vapaée.io</a></li>
                                            <li class="checked">30K TLOS will be returned to the eosio.saving account because of impossibility to make the promised review video</li>
                                        </ul>
                                    </li>
                                    <li class="margin-top">
                                        <p><strong>Cycle 2</strong> - 140K TLOS</p>
                                        <ul>
                                            <li>Development of the <strong>Deluxe</strong> version of <a target="_blank" href="https://vapaee.io"
                                                target="_blank">Vapaée.io</a></li>
                                        </ul>
                                    </li>
                                    <li class="margin-top">
                                        <p><strong>Cycle 3</strong> - 140K TLOS</p>
                                        <ul>
                                            <li>Develoment and delivery of the <strong>Golden</strong> final version of <a target="_blank" href="https://vapaee.io"
                                                target="_blank">Vapaée.io</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                
                
                        <div class="row margin-top">
                            <div class="col text-justify text-lg" id="versions">
                                Versions
                            </div>
                        </div>
                
                
                        <div class="row">
                            <div class="col text-justify text-sm">
                
                                <p>I separated the hole development of the <a target="_blank" href="https://vapaee.io" target="_blank">Vapaée.io</a> DEX in four
                                    different parts: <strong>Basic</strong>, <strong>Premium</strong>, <strong>Deluxe</strong>, and <strong>Golden</strong>.</p>
                                    <p>The <strong>Basic</strong> version is the one that is already up and running on Telos MainNet (although it's
                                    missing a couple of features). This version is my way to say <span class="text-success"><strong>THANK YOU, Telos community!!</strong></span>
                                    And at the same time, return the value that you already had given to me with the approval of my last WP <a
                                        href="https://chainspector.io/dashboard/worker-proposals/7" target="_blank">(number #7)</a>. So I will finish this <strong>Basic</strong>
                                        version independently if this current WP is approved or not.<br>
                                        You will get a finished DEX, I think I owe you that.</p>
                                    <p>For the <strong>Premium</strong>, <strong>Deluxe</strong>, and <strong>Golden</strong> versions, you will be able to choose if you want them separately.
                                        If you approve this WP, you will get the next version upgrade. If not, I will go back to work on the "Cards" part of the
                                         <a target="_blank" href="http://cardsandtokens.com" target="_blank">Cards &amp; Tokens</a> platform.</p>
                                    <ul>



                                    <li class="margin-top-lg checked title">
                                        <p><span class="text-lg "><strong>Basic</strong> (v1.x.x)</span><br>
                                            This one is already deployed and ready to test. It only requires 2 more important features such as trading
                                            history chart and Sqrl wallet support. The rest is already up and running on Telos main net.
                                            The completion of this version does not depend on the approval of this worker proposal.
                                            <strong>I will finish it because we need it</strong>.<br>
                                        This verison includes:</p>
                                        <ul>
                                        <li class="checked"><strong>Test period</strong>: currently there is a testing period when you can use fake Tokens to try this DEX without using real ones.</li>
                                        <li class="checked"><strong>No restrictions</strong>: all standard tokens on Telos network will be listed (with the exception of FLAME), and no restriction will exist to list new ones.</li>
                                        <li class="checked"><strong>Orders</strong>: users already can create trade-orders or match existing ones to trade tokens for TLOS, p2p with another Telos user using the <strong>vapaeetokens</strong> contract as DEX.</li>
                                        <li class="checked"><strong>Chart</strong>: an appropriate chart will be implemented to display graphically the trading transaction history of any token.</li>
                                        <li class="checked"><strong>Sqrl support</strong>: actually only Scatter is supported. I will add Sqrl support too.</li>
                                        </ul>
                                    </li>



                                    <li class="margin-top-lg checked title">
                                        <p><span class="text-lg"><strong>Premium</strong> (v2.x.x)</span><br>
                                            This one is a refined and more polished version than the previous one, which includes basically a lot
                                            of work in the presentation layer or the front-end, that in this case would be the website. In this cycle, I have
                                            included a separated work of a review video by <a
                                            href="https://www.youtube.com/channel/UCpceefaJ9vs4RYUTsO9Y3FA" target="_blank">Louis Thomas</a>.<br>
                                        This version includes:</p>
                                        <ul>
                                        <li class="checked"><strong>Responsive Design</strong>: currently the trade page has a lot of components on stage at the same time,
                                            and they all do not fit when the screen is lower than full-HD. I will create a better and more responsive design
                                            for this page (and the other pages too). In fact, I will make it work as a <a
                                            href="https://www.youtube.com/watch?v=fuhAmUpEEHA" target="_blank">PWA (Progresive Web Application)</a> to
                                            fit on cell phone screens.</li>
                                        <li class="checked"><strong>Last 24h info</strong>: add more information about the token movement of the last 24h
                                             (like min price, max price, transactions count).</li>
                                        <li class="checked"><strong>Prices in TLOS/USD/XXX</strong>: Display all prices of all tokens in your preferred currency.
                                            You will have a combo box to choose your preferred currency and all the prices will be expressed in that currency.
                                            The list will include TLOS, EOS, BTC, ETH, USD, EUR, etc.</li>
                                        <li class="checked"><strong>Activity feedback</strong>: display feedback on DEX activity on the home page (how many users,
                                            transactions per day, deposits, withdraws, earnings, etc).</li>
                                        </ul>
                                    </li>



                                    <li class="margin-top-lg">
                                        <p><span class="text-lg"><strong>Deluxe</strong> (v3.x.x)</span><br>
                                            This advanced version aims to have an independent software, managed by its own users (and not so much by me).
                                            Again, there will be a lot of work in the interface but also modifications in the contract to be able to support these features.<br>
                                        This version includes:</p>
                                        <ul>
                                        <li><strong>Free to join</strong>: The contract <strong>vapaeetokens</strong> already admit anyone to create
                                            and/or register any standard token on Telos but the website has no interface for that. I will create
                                            a very intuitive page to create a new token on the <strong>vapaeetoken</strong> smart contract or register
                                            an existing one along with all the token info. All registered tokens will get listed in the exchange automatically.</li>
                                        <li><strong>Token info page</strong>: each token will have its own page with all its info (title, description,
                                            links, video, contacts, transaction history, top N holders, etc). This information will be submitted and maintained
                                            by each token's manager. In this Token page I will add a basic form to execute standard token's actions like
                                            "transfer", "issue", "claim", "open", "close", "retire", etc.</li>
                                        <li><strong>Timezone</strong>: currently the time displayed for the transactions is the blockchain date time. I will implement
                                            an easy way to set the user's local timezone to display the date times in local time. In fact, I will
                                            make the website to detect and set automatically the local timezone for the user.</li>
                                        <li><strong>Invert tokens pair</strong>: something that I came across when I developed the first version is that you 
                                            can see a sell-order (you have X and wants to sell it for Y) as an inverse of a buy-order (where you have X and
                                            wants to use it as payment for Y). It's the same trade but with two different points of view. The smart contract 
                                            already models the trading market this way. Now I can implement a button, that if you press it, you will invert the 
                                            XXX / YYY trading pair for YYY / XXX, and all the buy-orders will convert to sell-orders and the opposite will happen 
                                            with the sell-orders.<br>
                                            At this time we may have IBC running and we may have an EOS representative token on Telos network that can be 
                                            added to this DEX. Then you will be able to see the TLOS being priced in EOS and vice versa in Vapaée.io.</li>
                                        <li><strong>Trade any pair</strong>: currently, all trading pairs have TLOS as currency and the other token as a commodity.
                                            For this <strong>Deluxe</strong> version, anyone will be able to create a new market buy simply create an order (requiring token X
                                            and offering token Y). This feature will be especially useful when we have EOS representative token on Telos or even a
                                            new stable coin (based on the dollar, for example).</li>
                                        <li><strong>Contract Events</strong>: to be a really useful tool, all Dapps owning any token being traded in this
                                            DEX should be able to 'react' when any event involving its token occurs. eg: deposits, withdraws, order, transaction, etc.
                                            So the <strong>vapaeetokens</strong> smart contract should be modified to send a signal to the Dapp contract owning
                                            the token involved in the event.<br>
                                            This will allow, for example, the current Telos voting system to update your "voting power" taking in account your
                                            deposits and earnings in the DEX, without you to actually having to withdraw your TLOS for that.</li>
                                        <li><strong>Skins</strong>: I will create a skin system and will add a few different skins for you to choose.</li>
                                        </ul>
                                    </li>



                                    <li class="margin-top-lg">
                                        <p><span class="text-lg"><strong>Golden</strong> (v4.x.x)</span><br>
                                            This last version will include two new major token related features plus a proper final product 
                                            delivery. It will require big tech changes on the smart contract and a lot of work on tutorials, 
                                            source code preparation and documentation. If you support this WP until this final stage, we all
                                             will be enjoying a <strong>Golden DEX</strong>.<br>
                                        This version includes:</p>
                                        <ul>
                                        <li><strong>Token Auction</strong>: users will be able to put any amount of any token to be auctioned and get
                                            paid in a specific currency and have all tokens sold in a specific time. This allows you to automatically
                                            convert any amount of token X to the best amount of token Y in a specific period of time, having the smart
                                            contract selling little amounts of X periodically in your name to the best Y offer each time.<br>
                                            This feature allows anyone to perform a long-term ICO (something similar to what it was the EOS ICO in 2017-2018).</li>
                                        <li><strong>Vapaée Token / Passive Income</strong>: as you can imagine there's a very little fee that both
                                            parts of the deal have to pay on each transaction and that determines the earnings of the contract.
                                            I will create a Vapaée Token that can be staked for <strong>passive income</strong> funded by these earnings.</li>
                                        <li><strong>Internationalization</strong>: this project already implements a "text localization" system,
                                            which allows the easy integration of more languages. Currently, we only have Spanish and English but
                                            we will have a lot more languages to be more suitable for everyone.</li>
                                        <li><strong>More Skins</strong>: in this version, we will have a skin system already functional, 
                                            so I will add some more skins to have more variety.</li>
                                        <li><strong>Source Code Delivery</strong>: The whole work is open source but currently, it is not in a proper presentation. 
                                            For this final version, I will prepare the source code in a separated repository along with all its documentation. 
                                            This will help other developers to quickly understand the code and be able to develop their own UI, 
                                            add-ons or whatever they like.</li>
                                        <li><strong>Help / Tutorials</strong>: finally, no good software is finished if it does not have a proper contextual help. 
                                            I will create some short video tutorials on how to use the system on every posible feature.</li>
                                        </ul>
                                    </li>





                                </ul>
                
                            </div>
                        </div>            
                
                
                        <div class="row margin-top">
                            <div class="col text-justify text-lg" id="review-video-by-louis-thomas">
                                <span strike>Review Video by Louis Thomas</span>
                            </div>
                        </div>
                
                
                        <div class="row margin-top">
                            <div strike class="col text-justify text-sm">
                                <p>If you don't know him, Louis Thomas is a very well known crypto influencer who has a very popular <a
                                    href="https://www.youtube.com/channel/UCpceefaJ9vs4RYUTsO9Y3FA" target="_blank">channel on youtube</a> where he 
                                    talks about crypto projects like this one. He has an enormous amount of followers (almost 100K users) all 
                                    around the world (Asia 50%, Europe 35% . America 10%, Africa 5%).</p>
                                <p>We have been talking about working together to create a review video to publicize this project and the Telos 
                                    blockchain itself. He estimates that a review video for this project can have over 35k views in the first 3 weeks.</p>
                                <p>If you approve the first cycle, you will be funding the Premium version development plus this review video. 
                                    At the time this video hits the public, we will have this Premium version released and running, 
                                    ready to receive all new investors that come from the video post.</p>            
                            </div>
                        </div>                
                
                
                        <div class="row margin-top">
                            <div class="col text-justify text-lg" id="readmap">
                                Roadmap
                            </div>
                        </div>
                
                
                        <div class="row margin-top">
                            <div class="col text-justify text-sm">
                                
                                <p>The following are estimated release dates for each version:</p>
                                <ul>
                                    <li><strong>May 20th - Basic</strong>: this day will be enabled the trading with real tokens.
                                        We will have a functional chart and Sqrl wallet support.</li>
                                    <li><strong>June 10th - Premium</strong>: at this day we will have a much better interface website.
                                        It will become a reference site because telos users will be able to check their balances expressed in USD (or any other preferred currency).<br>
                                        <span strike>We also have a great review video by <a target="_blank" href="https://www.youtube.com/channel/UCpceefaJ9vs4RYUTsO9Y3FA"
                                        target="_blank">Louis Thomas</a> that will bring a lot of users to the DEX and the blockchain.</span></li>
                                    <li><strong>July 08th - Delux</strong>: at this point, we will have an independent software managed by
                                        its users. The more relevant feature will be the possibility to trade in any token pair market.</li>
                                    <li><strong>July 29th - Golden</strong>: finally, we will have an excellent competitive product, with 
                                        lots of new and innovative features, such as token auctioning or Vapaée token passive income.</li>
                                </ul>
                            </div>
                        </div>                
                
                        <!--div style="height: 50px"></div-->
                    </div>
                        
                </div>
            </div>




        </div>
    </div>
</div>
<br><br><br><br>

