<div class="container" >
    <div class="card tokens margin-top-md">
        <div class="card-header vpe-background-card-header">
            <span class="text-lg">
                <img style="height:25px; width: 25px;" src="/assets/logos/telos.png" [hidden]="app.device.portrait">
                <img style="height:32px; width: 32px;" src="/assets/logos/telos.png" [hidden]="!app.device.portrait">
                 Telos tokens
            </span>
            <div class="pull-right">
                <vpe-offchain-combobox class="margin-top-xs" [btn]="'sm'" [hideprice]="app.device.portrait"></vpe-offchain-combobox>
            </div>
        </div>
    </div>

    <vpe-panel-tokens-card-deck  (tokenPage)="tokenPage($event)" (tradeToken)="tradeToken($event)" [hidebackground]="true" [hideheader]="true" [tokens]="tokens"></vpe-panel-tokens-card-deck>

</div>