<div class="mt-5">
    <div class="jumbotron vpe-background-jumbotron" style="padding: 2rem;">
        <div class="container text-center">
            <img class="img-fluid vapaee-home-logo" src="/assets/img/Logo.png">
        </div>    
        <div class="container margin-top text-sm text-muted text-center">
            <div><span class="text-white"> DELUXE </span> version is comming soon</div>
        </div>    
    </div>

    <div class="container">
        <div class="card text-white mt-2">
            <div class="card-header vpe-background-card-header" >
                
                <h3 class="text-center">
                    <img src="assets/img/alert-sign.png" style="height: 30px;">
                    {{local.string.temp_text_1}}
                </h3>
                <p>{{local.string.temp_text_2}}:</p>
                <ul>
                    <li>{{local.string.temp_text_3}} <a class="text-success" href="https://t.me/vapaee_dex" target="_blank">{{local.string.temp_text_4}}</a></li>
                    <li>{{local.string.temp_text_5}}</li>
                    <li>{{local.string.temp_text_6}} </li>
                </ul>

                <p>{{local.string.temp_text_7}} <a class="text-success" href="https://t.me/vapaee_dex" target="_blank">{{local.string.temp_text_8}}</a></p>
                
            </div>
        </div>
    </div>
</div>