<vpe-panel [id]="'vpe-panel-balance-breakdown'" (onResize)="onResize($event)" [margintop]="margintop" [hideheader]="hideheader" [expanded]="expanded" [title]="local.string.balbreak">
    <div class="row">
        <div class="col-sm-12" [hidden]="!title">
            <div class="text-lg text-center">
                {{title | titlecase}}
                <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('account')"></span>
            </div>
        </div>                
        <div class="col-sm-12" *ngIf="account.data">
            <table class="table right-aligned margin-top">
                <tbody>
                    <tr>
                        <td>Available:</td><td>{{account.data?.core_liquid_balance_asset}}</td>
                        <td><span *ngIf="!hidefiat" class="text-xs calculated-in-currency"> {{service.getTokenInCurrentCurrency(account.data?.core_liquid_balance_asset)}} </span></td>
                    </tr>
                    <tr>
                        <td>Staked:
                            <span class="btn btn-xs btn-primary" [hidden]="detail" (click)="detail=true">+</span>
                            <span class="btn btn-xs btn-primary" [hidden]="!detail"  (click)="detail=false">-</span>
                        </td><td>{{account.data?.total_staked_asset}}</td>
                        <td><span *ngIf="!hidefiat" class="text-xs calculated-in-currency"> {{service.getTokenInCurrentCurrency(account.data?.total_staked_asset)}} </span></td>
                    </tr>
                    <tr [hidden]="!detail">
                        <td>- Refunding:</td><td>{{account.data?.refund_request?.total_asset}}</td>
                        <td><span *ngIf="!hidefiat" class="text-xs calculated-in-currency"> {{service.getTokenInCurrentCurrency(account.data?.refund_request?.total_asset)}} </span></td>
                    </tr>
                    <tr [hidden]="!detail">
                        <td>- CPU Staked:</td><td>{{account.data?.self_delegated_bandwidth?.cpu_weight_asset}}</td>
                        <td><span *ngIf="!hidefiat" class="text-xs calculated-in-currency"> {{service.getTokenInCurrentCurrency(account.data?.self_delegated_bandwidth?.cpu_weight_asset)}} </span></td>
                    </tr>
                    <tr [hidden]="!detail">
                        <td>- NET Staked:</td><td>{{account.data?.self_delegated_bandwidth?.net_weight_asset}}</td>
                        <td><span *ngIf="!hidefiat" class="text-xs calculated-in-currency"> {{service.getTokenInCurrentCurrency(account.data?.self_delegated_bandwidth?.net_weight_asset)}} </span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</vpe-panel>