<vpe-panel [id]="'vpe-panel-tokens-card-deck'" (onResize)="onResize($event)" [hideheader]="hideheader" [hidebackground]="hidebackground" [title]="local.string.tokens">
    <div class="row">

        <div class="col-sm-12">
            <div class="text-lg text-center">{{title | titlecase}}</div>
        </div>

        <div class="col-sm-12">
            <div class="card-deck">
                <div class="row" style="flex-grow: 1;">
                    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let token of get_tokens; let i=index">

                        <vpe-panel-tokens-card
                            [token]="token"
                            [logged]="logged"
                            *ngIf="i<limit"
                            (tradeToken)="goToTradeToken(token)"
                            (tokenPage)="goToTokenPage(token)"
                            (editToken)="goToEditTokenPage(token)"
                        ></vpe-panel-tokens-card>
                        


                    </div>
                </div>
            </div>
        </div>

    </div>
</vpe-panel>