<div class="main" [ngClass]="{'margin-top':margintop, 'card text-white vpe-background-panel':!hidebackground}">
    <div class="title vpe-background-panel-title cursor-pointer" [hidden]="hideheader" (click)="turn($event, !expanded)">
        <div class="pull-right">
            <i *ngIf="!btnclose" class="material-icons" [ngClass]="{'rotated-180':expanded}" > expand_more </i> 
            <i *ngIf="btnclose" class="material-icons" (click)="close($event)"> close </i> 
        </div>
        <!-- class="text-sm title" -->
        <label class="title" style="font-size: 15px;">
            <i class="tiny material-icons">brightness_1</i>
            {{title | titlecase}} 
        </label>
    </div>

    <div #body class="body max-height-100" [ngClass]="{'card-body padding':!hidebackground, 'closed':!expanded}">
        <ng-content></ng-content>
    </div>
</div>

