<div [ngClass]="{'margin-top':margintop, 'card text-white bg-dark vpe-background-panel':!hidebackground}">
    <div class="title vpe-background-panel-title" [hidden]="hideheader">
        <div class="pull-right">
            <i class="material-icons cursor-pointer" [ngClass]="{'rotated-180':expanded}" (click)="turn(!expanded)" > expand_more </i> 
        </div>
        <label class="text-sm title">
            <i class="tiny material-icons">brightness_1</i>
            {{title | titlecase}} 
        </label>
    </div>

    <div #body class="body" [ngClass]="{'card-body padding':!hidebackground, 'closed':!expanded}">
        <ng-content></ng-content>
    </div>
</div>


