<div class="jumbotron vpe-background-jumbotron margin-top-xxl">
    <div class="container text-center">
        <img class="img-fluid" src="/assets/img/Logo.png">
    </div>    
    <div class="container margin-top text-lg text-center">
        <div>Tokens Exchange - Telos DEX</div>
    </div>    
    <div class="container margin-top text-xs text-muted text-center">
        <div>BASIC (v1.2.1)</div>
    </div>    
</div>
<div class="container margin-top">
    <vpe-panel-tokens-card-deck (tradeToken)="tradeToken($event)" [limit]="3" [hidebackground]="true" [hideheader]="true" [tokens]="tokens"></vpe-panel-tokens-card-deck>
</div>
