<div [hidden]="app.device.portrait" >

    <div class="jumbotron vpe-background-jumbotron margin-top-xxl">
        <div class="container text-center">
            <img class="img-fluid" src="/assets/img/Logo.png">
        </div>    
        <div class="container margin-top text-lg text-center">
            <div>Tokens Exchange - Telos DEX</div>
        </div>    
        <div class="container margin-top text-xs text-muted text-center">
            <div><span class="text-version"> PREMIUM </span> ({{app.version}})</div>
        </div>    
        <div class="container margin-top text-xs text-muted text-center">
            <div>
                
                

            </div>
        </div>    
    </div>
   
    <div class="container margin-top">
        <vpe-panel-tokens-card-deck (tradeToken)="tradeToken($event)" (tokenPage)="tokenPage($event)" [limit]="3" [hidebackground]="true" [hideheader]="true" [tokens]="tokens"></vpe-panel-tokens-card-deck>
    </div>
    
    <div class="container margin-top-lg">
        <vpe-panel-activity-log (gotoAccount)="gotoAccount($event)" (gotoScope)="gotoScope($event)"></vpe-panel-activity-log>
    </div>

    <br>
    <br>
    <br>
</div>

<div [hidden]="!app.device.portrait" >

        <div class="jumbotron vpe-background-jumbotron margin-top-xl">
            <div class="container text-center">
                <img class="img-fluid" src="/assets/img/Logo.png">
            </div>    
            <div class="container margin-top text-lg text-center">
                <div>Tokens Exchange</div>
                <div>Telos DEX</div>
            </div>    
            <div class="container margin-top text-sm text-muted text-center">
                <div><span class="text-white"> DELUXE </span> ({{app.version}})</div>
            </div>    
        </div>
       
        <div class="container">
            <vpe-panel-tokens-card-deck (tradeToken)="tradeToken($event)" (tokenPage)="tokenPage($event)" [limit]="3" [hidebackground]="true" [hideheader]="true" [tokens]="tokens"></vpe-panel-tokens-card-deck>
        </div>
        
        <div class="container margin-top-lg">
            <vpe-panel-activity-log [lines]="2" (gotoAccount)="gotoAccount($event)" (gotoScope)="gotoScope($event)"></vpe-panel-activity-log>
        </div>
    
        <br>
        <br>
        <br>
</div>