<div class="card text-white bg-dark mb-3">
    <div class="card-header">
        <identicon-comp [value]="account.account_name"></identicon-comp>
        <div class="pull-right text-right">
            <div class="text-xl">{{account.account_name}}</div>
            <!--div class="text-xl" [hidden]="!account.dummie">
                <div class="input-group col-sm-12">
                    <input type="text" class="form-control form-control-sm" [value]="account.account_name" (input)="account.account_name = $event.target.value">
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-sm" (click)="searchBtn()">search</button>
                    </div>
                </div>                
            </div-->
            <div class="text-md nowrap">total balance:
                <span class="text-lg color-green">{{account.total_balance}}</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <div class="text-lg text-center">Balance Breakdown</div>
                <table class="table right-aligned margin-top">
                    <tbody>
                        <tr><td>Available:</td><td>{{account.core_liquid_balance}}</td></tr>
                        <tr><td>Refunding:</td><td>{{account.refund_request.total}}</td></tr>
                        <tr><td>CPU Staked:</td><td>{{account.total_resources.cpu_weight}}</td></tr>
                        <tr><td>NET Staked:</td><td>{{account.total_resources.net_weight}}</td></tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="text-lg text-center">Resources</div>
                <div class="text-md margin-top">RAM <span class="text-xs color-grey">{{account.ram_limit.percentStr}} available</span></div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar" [ngStyle]="{'width': account.ram_limit.percentStr}"></div>
                </div>
                <div class="text-sm text-center">RAM used - {{account.ram_limit.used}} Bytes / {{account.ram_limit.max}} Bytes</div>
                <div class="text-md margin-top">NET <span class="text-xs color-grey">{{account.net_limit.percentStr}} available</span></div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar" [ngStyle]="{'width': account.net_limit.percentStr}"></div>
                </div>
                <div class="text-sm text-center">NET used - {{account.net_limit.used}} Bytes / {{account.net_limit.max}} Bytes</div>
                <div class="text-md margin-top">CPU <span class="text-xs color-grey">{{account.cpu_limit.percentStr}} available</span></div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                        role="progressbar" [ngStyle]="{'width': account.cpu_limit.percentStr}"></div>
                </div>
                <div class="text-sm text-center">CPU used - {{account.cpu_limit.used}} µs / {{account.cpu_limit.max}} µs</div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="text-left margin-top-xxxl">
    <pre>{{account|json}}</pre>
</div>
-->