<div *ngIf="app.device.portrait">
    <vpe-panel-token-selector [tokens]="tokens" [current]="comodity" [margintop]="true" (scopeChange)="scopeChange($event)"></vpe-panel-token-selector>
    
    <vpe-panel-chart [hideheader]="true" [zoom]="500" [height]="chartHeight" [margintop]="true" [data]="chartData"></vpe-panel-chart>

    <div class="col-12 margin-top text-center">
        <span class="btn btn-info" (click)="switchTokens()">Switch to {{vapaee.inverseScope(scope)}}</span>
    </div>


    <div class="margin-top text-center" [ngClass]="{'d-none':vapaee.loginState != 'no-logged'}">
        <span class="btn btn-sm btn-primary" (click)="vapaee.login()">
            <span class="spinner-border spinner-border-xs" [hidden]="!vapaee.feed.loading('login') && !vapaee.feed.loading('log-state')"></span>
            {{local.string.login | titlecase}}
        </span><br>
        <span class="text-sm">{{local.string.NotLogged}} </span>
    </div>

    <vpe-panel-order-editor [hidden]="!vapaee.logged" #orderform_min [deposits]="deposits" [comodity]="comodity" [currency]="currency" [buyorders]="buyorders" [sellorders]="sellorders" [owner]="vapaee.logged"></vpe-panel-order-editor>

    <vpe-panel-orders [expanded]='false' (onClickRow)="onClickRow($event)" (onClickPrice)="onClickPrice($event)" [headers]="headers" [orders]="orders"></vpe-panel-orders>

    <vpe-panel-history [expanded]='true' [scope]="comodity ? comodity.scope : ''" [history]="history"></vpe-panel-history>
</div>



<div class="container-fluid margin-top" *ngIf="!app.device.portrait">
    
    <div class="card text-white bg-dark">
        <div class="card-header vpe-background-card-header padding">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-padding-right margin-top text-center">
                    <span class="btn btn-info" (click)="switchTokens()">Switch to {{vapaee.inverseScope(scope)}}</span>
                </div>
                <div class="col-sm-8 col-md-9 col-padding-left margin-top">
                    <span class="text-xl">
                        <img style="height:40px; width: 40px; margin-top:-6px" [src]="comodity ? comodity.logolg : '#'">
                        <span> {{comodity ? comodity.appname : local.string.loading}} </span>
                        <small class="text-muted">({{scope}})</small>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-3  col-padding-right">
            <vpe-panel-tokens [tokens]="tokens" (selectToken)="selectToken($event)"></vpe-panel-tokens>
            <vpe-panel-wallet [deposits]="deposits" [balances]="balances" (confirmWithdraw)="onWalletConfirmWithdraw($event)" (confirmDeposit)="onWalletConfirmDeposit($event)" (gotoAccount)="gotoAccount()" [deposit_error]="deposit_error" [withdraw_error]="withdraw_error" [loading]="loading" [actions]="true"></vpe-panel-wallet>
        </div>
        <div class="col-sm-8 col-md-9 col-padding-left">
            <vpe-panel-chart [data]="chartData"></vpe-panel-chart>
            <vpe-panel-order-editor [hidden]="!vapaee.logged" #orderform_full [deposits]="deposits" [comodity]="comodity" [currency]="currency" [buyorders]="buyorders" [sellorders]="sellorders" [owner]="vapaee.logged"></vpe-panel-order-editor>
            <div class="row">
                <div class="col-sm-8 col-md-9 col-padding-right">
                    <vpe-panel-orders (onClickRow)="onClickRow($event)" (onClickPrice)="onClickPrice($event)" [headers]="headers" [orders]="orders"></vpe-panel-orders>
                </div>
                <div class="col-sm-4 col-md-3 col-padding-left">
                    <vpe-panel-history [scope]="scope" [history]="history"></vpe-panel-history>
                </div>
            </div>
        </div>
    </div>
    
</div>