:host {
    display: inline-block;
    width: 90px;
    height: 90px;
    padding: 5px;
    background-color: white;
    svg {
        width: 80px;
        height: 80px;
    }

    &.portrait {
        width: 45px;
        height: 45px;    
        svg {
            width: 35px;
            height: 35px;
        }
    }
}