
    

        <div class="card token-card text-white margin-top">
            <div class="card-body vpe-background-card-body">
                <div class="text-center">
                    <img style="height:64px; width: 64px; margin-top:-3px" [src]="token.logolg">
                    <div style="position: absolute; right: 20px; top: 12px;" class="text-lg" [hidden]="token.symbol == 'TLOS'">
                        <div
                            class="nowrap text-right"
                            [ngClass]="{'text-success': token.summary?.percent > 0, 'text-danger': token.summary?.percent < 0, 'text-muted': token.summary?.percent  == 0}"
                        >
                            <small><b>{{token.summary?.percent_str}}</b></small>
                        </div>
                    </div>                                       
                </div>
                <div class="text-center margin-top">
                    <span class="card-title text-lg">
                        {{token.title}}
                    </span>
                </div>
                <div class="text-center">
                    <a [href]="token.website" target="_blank"><small class="text-muted">{{token.website}} &nbsp;</small></a>
                </div>
                <div class="card-text margin-top">
                    <div>
                        <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('token-stat-'+token.symbol) && !dex.feed.loading('summary.'+token.scope)"></span>
                        <small><span class="label">max:</span><span class="nowrap"> {{token.stat ? token.stat.max_supply : ('0 ' + token.symbol)}} </span></small><br>
                        <small><span class="label">total:</span><span class="nowrap"> {{token.stat ? token.stat.supply : ('0 ' + token.symbol)}} </span></small>
                    </div>
                </div>
                <div>
                    <div class="row margin-top">
                        <div class="col-6 text-left col-padding-right">
                            <span [hidden]="token.symbol != 'TLOS' && token.tradeable"
                                class="btn disabled btn-primary btn-sm margin-top">{{local.string.trade}}</span>                            
                            <span [hidden]="token.symbol == 'TLOS' || !token.tradeable"
                                class="btn btn-primary btn-sm margin-top"
                                (click)="goToTradeToken(token)"
                                >{{local.string.trade}}</span>
                        </div>
                        <div class="col-4 text-center col-padding-left col-padding-right" [hidden]="true">
                        </div>
                        <div class="col-6 text-right col-padding-left">
                            <span [hidden]="token.symbol == 'TLOS' || !token.tradeable"
                                (click)="goToTokenPage(token)"
                                class="btn btn-primary btn-sm margin-top">{{local.string.info}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 margin-top">
                    <div class="row" style="flex-grow: 1">
                        <div class="col-6 text-left col-padding-right" *ngIf="token.symbol != 'TLOS' && token.tradeable">
                            <small class="text-muted">{{local.string.vol}}: {{token.summary?.volume.valueToString(4)}}  {{token.summary?.volume.token.symbol}}</small>
                        </div>
                        <div class="col-6 text-right col-padding-left" *ngIf="token.symbol != 'TLOS' && token.tradeable">
                            <small class="calculated-in-currency"> {{service.getTokenInCurrentCurrency(token.summary?.price || "0.0000 TLOS").toString()}} </small>
                        </div>
                        <div class="col-12 text-right" *ngIf="token.symbol == 'TLOS'"> &nbsp; </div>
                        <div class="col-12 text-right" *ngIf="!token.tradeable"> {{local.string.cantbtraded}} </div>
                    </div>
                </div>
            </div>
        </div>