<div class="container" >
    <div class="card text-white bg-dark margin-top-md overflow-visibl">
        <div class="card-header vpe-background-card-header text-xl" [hidden]="app.device.portrait">
            <img style="height:64px; width: 64px; margin-top:-0px" [src]="token?.logolg">&nbsp;
            {{token?.appname}}
        </div>
        <div class="card-header vpe-background-card-header text-xl" [hidden]="!app.device.portrait">
            <img style="height:40px; width: 40px; margin-top:-10px" [src]="token?.logolg">&nbsp;
            {{token?.appname}}
        </div>
    </div>

    <div class="jumbotron vpe-background-jumbotron margin-top-xl text-center">
        <h4 class="text-muted">Token page - coming soon</h4> 
    </div>

</div>