body, html {
    height: 100vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

body.wp {
    // overflow: auto;
    // height: unset;
}

.text-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.text-subtitle {
    font-size: 18px;
    // font-weight: bold;
    color: white;
}

i.tiny {
    font-size: 10px;
}

.bg-dark table.table {
    color: white;
}

hr.line {
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: 1px solid rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}


div.text-lg span.spinner-border {
    margin-bottom: 5px;
}


.vpe-background-jumbotron {
    background: #1b211f;
    background: -moz-linear-gradient(top, #1b211f 0%, #2a332a 100%);
    background: -webkit-linear-gradient(top, #1b211f 0%,#2a332a 100%);
    background: linear-gradient(to bottom, #1b211f 0%,#2a332a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b211f', endColorstr='#2a332a',GradientType=0 );
}

div.card.vpe-background-card {
    background: #1b211f;
    background: -moz-linear-gradient(top, #1b211f 0%, #2a332a 100%);
    background: -webkit-linear-gradient(top, #1b211f 0%,#2a332a 100%);
    background: linear-gradient(to bottom, #1b211f 0%,#2a332a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b211f', endColorstr='#2a332a',GradientType=0 );
}

div.card div.card-header.vpe-background-card-header {
    /*
    background: #2a332a;
    background: -moz-linear-gradient(top, #2a332a 0%, #2a332a 100%);
    background: -webkit-linear-gradient(top, #2a332a 0%,#2a332a 100%);
    background: linear-gradient(to bottom, #2a332a 0%,#2a332a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a332a', endColorstr='#2a332a',GradientType=0 );
    */

    background: #2a332a;
    background: -moz-linear-gradient(top, #2a332a 0%, #2a332a 100%);
    background: -webkit-linear-gradient(top, #2a332a 0%,#2a332a 100%);
    background: linear-gradient(to bottom, #2a332a 0%,#3a413a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a332a', endColorstr='#2a332a',GradientType=0 );
}

div.card div.card-body.vpe-background-card-body {
    background: #383d37;
    background: -moz-linear-gradient(top, #383d37 0%, #2f352f 100%);
    background: -webkit-linear-gradient(top, #383d37 0%,#2f352f 100%);
    background: linear-gradient(to bottom, #383d37 0%,#2f352f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383d37', endColorstr='#2f352f',GradientType=0 );
}

nav.navbar.vpe-background-navbar {
    /*
    background: #1b211f;
    background: -moz-linear-gradient(top, #1b211f 0%, #2a332a 69%, #313a2b 100%);
    background: -webkit-linear-gradient(top, #1b211f 0%,#2a332a 69%,#313a2b 100%);
    background: linear-gradient(to bottom, #1b211f 0%,#2a332a 69%,#313a2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b211f', endColorstr='#313a2b',GradientType=0 );
    */
    /*
    background: #2a332a;
    background: -moz-linear-gradient(top, #2a332a 0%, #3c423b 100%);
    background: -webkit-linear-gradient(top, #2a332a 0%,#3c423b 100%);
    background: linear-gradient(to bottom, #2a332a 0%,#3c423b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a332a', endColorstr='#3c423b',GradientType=0 );
    */
    background: #383d37;
    background: -moz-linear-gradient(top, #383d37 0%, #2f352f 100%);
    background: -webkit-linear-gradient(top, #383d37 0%,#2f352f 100%);
    background: linear-gradient(to bottom, #383d37 0%,#2f352f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383d37', endColorstr='#2f352f',GradientType=0 );
}

div.card.vpe-background-panel {
    background: #1f211f;
    background: -moz-linear-gradient(top, #1f211f 0%, #1a1c1a 100%);
    background: -webkit-linear-gradient(top, #1f211f 0%,#1a1c1a 100%);
    background: linear-gradient(to bottom, #1f211f 0%,#2d302d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f211f', endColorstr='#1a1c1a',GradientType=0 );
}

div.title.vpe-background-panel-title {
    background: #2a332a;
    background: -moz-linear-gradient(top, #2a332a 0%, #2a332a 100%);
    background: -webkit-linear-gradient(top, #2a332a 0%,#2a332a 100%);
    background: linear-gradient(to bottom, #3a423a 0%,#545a54 100%);
}

.card {
    overflow: hidden;
    border-radius: 8px;
}

.card-deck .card {
    margin-bottom: 10px;
}

 // ng-sidebar  -----------------------
 app-root > ng-sidebar-container#sidebar {
    height: calc(100% - 38px);
    display: block;
    position: relative;
    top: 38px;
}

@media (min-width: 576px) {
    app-root > ng-sidebar-container#sidebar {
        height: calc(100% - 50px);
        top: 50px;
    }
}

@media (min-width: 768px) {
    app-root > ng-sidebar-container#sidebar {
        height: calc(100% - 50px);
        top: 50px;
    }
}

@media (min-width: 992px) {
    app-root > ng-sidebar-container#sidebar {
        height: calc(100% - 55.8px);
        top: 55.8px;
    }
}

@media (min-width: 1200px) {
    app-root > ng-sidebar-container#sidebar {
        height: calc(100% - 57px);
        top: 57px;
    }
}

ng-sidebar {
    div.sidebar-content {
        height: 100%;
        min-width: 60vw;
        background: #1b211f;
        background: linear-gradient(to bottom, #1b211f 0%, #2a332a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b211f', endColorstr='#2a332a',GradientType=0 );
        text-align: left;

        ul li {
            padding-left: 60px;
            padding-right: 30px;
            // border-top: 1px solid rgba(0, 0, 0, 0.5);  
            border-bottom: 1px solid rgba(64, 64, 64, 0.5);       
            &:hover {
                background-color: rgba(0,0,0,0.3);
            }
            &.active {
                font-weight: bold;
                background-color: rgba(0, 0, 0, 0.5);
            }
            &.highlight {
                background-color: rgba(93, 107, 115, 0.3);
                color: #b5bfda;
                // border-top: 1px solid rgba(64, 64, 64, 0.5);
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
            }
            a:focus {
                outline-color: transparent;
            }
        }
    }
    & > aside.ng-sidebar--right {
        padding-top: 20px;
        top: -20px !important;
    }
}

// Modal ---------
.modal-content {
    height: calc(100vh - 18px);
    background-color: rgba(0,0,0,0.5);
}

.max-height-100 {
    max-height: 100%;
}

// panel-header
.pull-right > i.material-icons {
    margin-top: -6px;
}


// nav-item highlight
.navbar-dark .navbar-nav .nav-item.highlight a {
    background-color: rgba(93, 107, 115, 0.3);
    color: #b5bfda;
}

// twitter centered
.text-center.twitter-container > twitter-widget.twitter-tweet.twitter-tweet-rendered {
    margin-left: auto;
    margin-right: auto;
}

.nav-item .material-icons.security { display: none; }
/*
// ------------------------------------------------------------------
// ------------------------------------------------------------------
// ------------------------------------------------------------------
$bk-color:rgba(0, 0, 0, 0.8);

ng-sidebar-container {
    body.home    & { background-image: url(https://mcdn.wallpapersafari.com/medium/50/52/kis6Uf.jpg); }
    body.trade   & { background-image: url(https://mcdn.wallpapersafari.com/medium/51/90/gNjomX.jpg); }
    body.home    & { background-image: url(https://mcdn.wallpapersafari.com/medium/50/52/kis6Uf.jpg); }
    body.markets & { background-image: url(https://mcdn.wallpapersafari.com/medium/49/92/iCpIEe.jpg); }
    body.tokens  & { background-image: url(https://mcdn.wallpapersafari.com/medium/24/68/20TPn8.jpg); }    
    background-size: cover;
}
div.card.vpe-background-panel {
    background: none !important;
}
div.main.bg-dark {
    background-color: $bk-color !important;
}
.nav-item.wp { display: none !important; }
.nav-item .material-icons.view_list { display: none !important; }
.nav-item .material-icons.security { display: inline-block !important; }
// ---- trade -----
body.trade {
    .switch-tokens-btn { display: none; }
    .currency-title { display: none !important; }
    .card.page-header {
        background-color: $bk-color !important;
        background: none !important;
        .card-header {
            padding: 2px;
            background-color: $bk-color !important;
            background: none !important;
        }
    }
    vpe-panel {
        .card {
            border-width: 0px;
            border-top-left-radius: 30px 30px !important;
            .title.vpe-background-panel-title {
                background: rgba(0, 49, 0, 0.603);
                border: 2px solid rgb(8, 83, 8);
                border-top-left-radius: 30px 30px !important;
                padding-left: 20px !important;
                background-image: linear-gradient(to right, #001302, #032308) !important;
            }
            .body {
                border: 1px solid black;
                border-top-width: 0px;
            }
        }    
    }


    vpe-panel-wallet img.token-icon, vpe-panel-markets img.token-icon {
        height: 30px !important;
        width:  30px !important;
    }    
}

// ---- tokens -----
body.tokens {
    vpe-panel-tokens-card {
        div.card {
            background: rgb(1,27,6);
            background: linear-gradient(180deg, rgba(1,27,6,0.8645833333333334) 0%, rgba(0,0,0,0.7917542016806722) 100%);
            
            border: 2px solid rgb(5, 17, 5);
            border: 2px solid rgb(9, 133, 9);
            div.card-body.vpe-background-card-body {
                background: none;
                background-color: transparent;
            }            
        }

        span.btn {
            cursor: pointer;
            background-image: none;
            background: #002f00;
            border-radius: 20px;
            padding: 5px 20px;
            border: 2px solid green;
        }
    }

    .card.tokens {
        background: none !important;
        .card-header {
            background: none !important;            
            background-color: rgba(0, 0, 0, 0.64) !important;
            border: 2px solid rgb(5, 17, 5);
        }              
    }
}



// ---- markets -----
body.markets {

    .card.markets {
        background: none !important;
        .card-header {
            background: none !important;            
            background-color: rgba(0, 0, 0, 0.64) !important;
            border: 2px solid rgb(5, 17, 5);
        }              
    }
}

*/
