

                        <div class="card market-card text-white bg-dark margin-top">
                            <div class="card-body vpe-background-card-body">
                                
                                <div class="text-left">
                                    <img style="height:16px; width: 16px; margin-top:-8px" [src]="market.commodity.logo">
                                    <span class="card-title text-md">
                                        {{market.commodity.symbol}}
                                    </span>

                                    <span class="text-muted"> / </span>

                                    <img style="height:16px; width: 16px; margin-top:-8px" [src]="market.currency.logo">
                                    <span class="card-title text-md">
                                        {{market.currency.symbol}}
                                    </span>

                                    <div style="position: absolute; right: 20px; top: 12px;" class="text-lg">
                                        <div
                                            class="nowrap text-right"
                                            [ngClass]="{'text-success': market.summary?.percent > 0, 'text-danger': market.summary?.percent < 0, 'text-muted': market.summary?.percent  == 0}"
                                        >
                                            <small><b>{{market.summary?.percent_str}}</b></small>
                                        </div>
                                    </div>                                       
                                </div>


                                <div class="row margin-top">
                                    <div class="col-6 text-left">                         
                                        <span
                                            class="btn btn-primary btn-sm"
                                            (click)="goToTradeMarket(market)"
                                            >{{local.string.trade}}</span>
                                    </div>
                                    <div class="col-6 text-right">

                                        <div class="text-right">
                                            <div><small class="nowrap text-muted">max: {{market.summary?.max_price}}</small></div>
                                            <div><small class="nowrap text-muted">min: {{market.summary?.min_price}}</small></div>
                                        </div>

                                    </div>
                                </div>


                                <div class="row margin-top">
                                    <div class="col-6 text-left col-padding-right">
                                        <small class="text-muted">{{local.string.vol}}: {{market.summary?.volume.valueToString(4)}}  {{market.summary?.volume.token.symbol}}</small>
                                    </div>
                                    <div class="col-6 text-right col-padding-left">
                                        <small class="color-yellow bold"> {{service.getTokenInCurrentCurrency(market.summary?.price || "0.0000 TLOS").toString()}} </small>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        
                        