.token-card {
    min-width: 220px;
}
.card.currencies, .card.markets {
    overflow: visible;
    .card-header {
        border-radius: 8px;
    }
}

.card.currencies {
    overflow: visible;
    .card-header {
        border-radius: 8px;
    }
    .currency {
        position: relative;
        .label {
            display: none;
            position: absolute;
            top: -40px;
            left: 70px;
            padding: 10px;
            color: white;
            border: 1px solid white;
            background-color: #333;
            border-radius: 5px;
        }
        &.cursor-default:hover .label {
            display: block;
        }
    }
}
