<div class="container" >
    <div class="card text-white bg-dark margin-top-md">
        <div class="card-header vpe-background-card-header text-xl" [hidden]="!app.device.portrait">
            <img style="height:28px; width: 28px; margin-top: -3px;" src="/assets/img/coins.png"> {{local.string.markets | titlecase}}
        </div>
        <div class="card-header vpe-background-card-header" [hidden]="app.device.portrait">
            <h1><img style="height:38px; width: 38px; margin-top: -3px;" src="/assets/img/coins.png"> {{local.string.markets | titlecase}}</h1>
        </div>
    </div>

    
</div>