<div class="container" >
    <div class="card title text-white bg-dark margin-top-md">
        <div class="card-header vpe-background-card-header text-lg" >
            <img style="height:28px; width: 28px; margin-top: -3px;" src="/assets/img/coins.png" [hidden]="!app.device.portrait">
            <img style="height:38px; width: 38px; margin-top: -3px;" src="/assets/img/coins.png" [hidden]="app.device.portrait">
            {{local.string.markets | titlecase}}
            <div class="pull-right">
                <vpe-offchain-combobox class="margin-top-xs" [btn]="'sm'" [hideprice]="app.device.portrait"></vpe-offchain-combobox>
            </div>            
        </div>
    </div>

    <vpe-panel-markets-card-deck (tradeMarket)="tradeMarket($event)" [limit]="3" [hidebackground]="true" [hideheader]="true" [markets]="markets"></vpe-panel-markets-card-deck>

    <div class="card currencies text-white bg-dark margin-top-sm">
        <div class="card-header vpe-background-card-header text-md">
            <span *ngFor="let currency of dex.currencies; let i=index"
                class="currency btn btn-lg margin-right-lg"
                [ngClass]="{'disable':!currency.verified, 'btn-success':!newmarket && selected?.symbol == currency.symbol, 'btn-primary':newmarket || selected?.symbol != currency.symbol}"
                (click)="selectCurrency(currency)"
            >
                <img style="height:20px; width: 20px; margin-top: -3px;" [src]="currency.logo">
                <span [ngClass]="{'text-muted':!currency.verified}"> {{currency.symbol}} </span>
                <div class="label text-sm nowrap">coming soon</div>
            </span>
            <div class="pull-right">
                <span class="currency btn btn-lg"
                    [ngClass]="{'btn-success':newmarket, 'btn-primary':!newmarket}"
                    (click)="createNewMarket()"
                >
                    <i class="material-icons vertical-align-text-bottom"> add_circle_outline </i>
                    <span> {{local.string.newmarket|titlecase}} </span>
                </span>
            </div>
        </div>
    </div>

    <div class="margin-top-md" [hidden]="newmarket">
        <vpe-panel-markets 
            [margintop]="false" 
            [hideheader]="true" 
            [markets]="currency_markets"
            (selectMarket)="tradeMarket($event)"
        ></vpe-panel-markets>
    </div>

    <div class="card currencies text-white bg-dark margin-top-md" [hidden]="!newmarket">
        <div class="card-header vpe-background-card-header text-md-center">
            <span class="text-md">{{local.string.commodity|titlecase}}</span>
            <div class="margin-top-md">
                <vpe-panel-token-selector [tokens]="comodities" [current]="commodity" [margintop]="true" (tokenChange)="selectCommodity($event)"></vpe-panel-token-selector>
            </div>
            <div class="margin-top-lg">
                <hr class="line">
            </div>
            <span class="text-md margin-top-lg">{{local.string.currency|titlecase}}</span>
            <div class="margin-top-md">
                <vpe-panel-token-selector [tokens]="dex.currencies" [current]="selected" [margintop]="true" (tokenChange)="selectCurrency($event, true)"></vpe-panel-token-selector>
            </div>
            <div class="margin-top-lg text-center">
                <a class="btn btn-lg btn-success" routerLink="{{'/exchange/trade/' + dex.getScopeFor(commodity, selected) }}" >
                    <i class="material-icons vertical-align-middle"> insert_chart_outlined </i>
                    {{local.string.trade | titlecase}}
                </a>
            </div>
        </div>
    </div>

    <div class="margin-top-lg"></div>

</div>