<div class="container" >
    <div class="card text-white bg-dark margin-top-md">
        <div class="card-header vpe-background-card-header text-lg" >
            <img style="height:28px; width: 28px; margin-top: -3px;" src="/assets/img/coins.png" [hidden]="!app.device.portrait">
            <img style="height:38px; width: 38px; margin-top: -3px;" src="/assets/img/coins.png" [hidden]="app.device.portrait">
            {{local.string.markets | titlecase}}
            <div class="pull-right">
                <vpe-offchain-combobox class="margin-top-xs" [btn]="'sm'" [hideprice]="app.device.portrait"></vpe-offchain-combobox>
            </div>            
        </div>
    </div>

    <vpe-panel-markets-card-deck (tradeMarket)="tradeMarket($event)" [limit]="3" [hidebackground]="true" [hideheader]="true" [markets]="markets"></vpe-panel-markets-card-deck>

    <div class="card currencies text-white bg-dark margin-top-sm">
        <div class="card-header vpe-background-card-header text-md">
            <span *ngFor="let currency of currencies; let i=index"
                class="currency" [ngClass]="{'cursor-pointer':currency.verified, 'cursor-default':!currency.verified}"
            >
                <span [hidden]="i == 0">&nbsp;&nbsp; | &nbsp;&nbsp;</span>
                <img style="height:20px; width: 20px; margin-top: -3px;" [src]="currency.logo">
                <span [ngClass]="{'text-muted':!currency.verified}"> {{currency.symbol}} </span>
                <div class="label text-sm nowrap">coming soon</div>
            </span>
        </div>
    </div>

    <div class="margin-top-md">
        <vpe-panel-markets [margintop]="false" [hideheader]="true" [markets]="markets" [currencies]="currencies" (selectMarket)="selectMarket($event)"></vpe-panel-markets>
    </div>

</div>