<vpe-panel [id]="'vpe-panel-markets-card-deck'" (onResize)="onResize($event)" [hideheader]="hideheader" [hidebackground]="hidebackground" [title]="local.string.markets">
    <div class="row">

        <div class="col-sm-12">
            <div class="text-lg text-center">{{title | titlecase}}</div>
        </div>
        
        <div class="col-sm-12">
            <div class="card-deck">
                <div class="row" style="flex-grow: 1;">
                    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let market of get_markets; let i=index">

                        <vpe-panel-markets-card
                            *ngIf="i<limit"
                            [market]="market"
                            (tradeMarket)="goToTradeMarket(market)"
                        ></vpe-panel-markets-card>

                    </div>
                </div>
            </div>
        </div>

    </div>
</vpe-panel>