:host {
    max-height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.row.market-full {
    padding-top: 12px;
    padding-bottom: 12px;
    &:hover {
        background-color: #353e37;
    }
}
.row.market {
    padding-top: 8px;
    padding-bottom: 8px;
    &:hover {
        background-color: #353e37;
    }
}

.token-icon {
    height:16px;
    width: 16px;
    margin-top:-2px
}