<vpe-panel class="max-height-100" [id]="'vpe-panel-tokens'" (onResize)="onResize($event)" [margintop]="margintop" [hideheader]="hideheader" [expanded]="expanded" [title]="local.string.marketlist">
    
    <div class="row margin-top" [hidden]="hide_maxmin">
        <div class="nowrap text-bold text-sm col-2 col-padding-right">{{local.string.token | titlecase}}</div>
        <div class="nowrap text-bold text-sm-right col-3 col-padding-right col-padding-left">
            <div class="row">
                <div class="nowrap text-bold text-sm col-8 col-padding-right">{{local.string.price | titlecase}}</div>
                <div class="nowrap text-bold text-sm col-4 col-padding-right"></div>
            </div>            
        </div>
        <div class="nowrap text-bold text-sm-right col-1 col-padding-right col-padding-left">{{local_string_change | titlecase}}</div>
        <div class="nowrap text-bold text-sm-right col-2 col-padding-right col-padding-left">24h min</div>
        <div class="nowrap text-bold text-sm-right col-2 col-padding-right col-padding-left">24h max</div>
        <div class="nowrap text-bold text-sm-right col-2 col-padding-left">{{local.string.vol | titlecase}}</div>
    </div>
    
    <div class="row margin-top cursor-pointer market-full active-on-hover"
        [hidden]="hide_maxmin"
        *ngFor="let market of markets"
        (click)="clickOnMarket(market.scope)"
        (tap)="clickOnMarket(market.scope)"    
    >
        <div class="nowrap col-2 col-padding-right">
            <img style="height:24px; width: 24px; margin-top:-2px" [src]="market.commodity.logo">&nbsp;
            <span class="text-md">{{market.commodity.symbol}}</span>
            <span class="spinner-border spinner-border-sm" [hidden]="!dex.feed.loading('market.token-stat-'+market.commodity.symbol) && !dex.feed.loading('summary.'+dex.canonicalScope(market.scope))"></span>
        </div>
        <div class="nowrap col-3 text-bold text-right col-padding-right col-padding-left">
            <div class="row">
                <div class="nowrap text-bold text-sm col-8 col-padding-right">
                    {{market.summary?.price.valueToString(price_digits, true)}}
                    <span [hidden]="hide_symbol">{{market.summary?.price.token.symbol}}</span>                    
                </div>
                <div class="nowrap text-bold text-left col-4 col-padding-right">
                    <small class="calculated-in-currency"> ({{service.getTokenInCurrentCurrency(market.summary?.price || "0.0000 TLOS").toString()}}) </small>
                </div>
            </div> 

            
        </div>
        <div
            class="nowrap col-1 text-right col-padding-right col-padding-left"
            [ngClass]="{'text-success': market.summary?.percent > 0, 'text-danger': market.summary?.percent < 0, 'text-muted': market.summary?.percent  == 0}"
        >
            {{market.summary?.percent_str}}
        </div>
        <div class="nowrap col-2 text-right col-padding-right col-padding-left">
            {{market.summary?.max_price.valueToString(price_digits, true)}}
            <span [hidden]="hide_symbol">{{market.summary?.max_price.token.symbol}}</span>
        </div>
        <div class="nowrap col-2 text-right col-padding-right col-padding-left">
            {{market.summary?.min_price.valueToString(price_digits, true)}}
            <span [hidden]="hide_symbol">{{market.summary?.min_price.token.symbol}}</span>
        </div>
        <div class="nowrap col-2 text-sm-right col-padding-left">
            {{market.summary?.volume.valueToString(volume_digits, true)}}
            <span [hidden]="hide_symbol">{{market.summary?.volume.token.symbol}}</span>
        </div>
    </div>

    <!-- -- -->

    <div class="row margin-top" [hidden]="!hide_maxmin">
        <div class="nowrap text-bold text-sm col-3 col-padding-right">{{local.string.token | titlecase}}</div>
        <div class="nowrap text-bold text-sm-right col-3 col-padding-right col-padding-left">{{local.string.vol | titlecase}}</div>
        <div class="nowrap text-bold text-sm-right col-3 col-padding-right col-padding-left">{{local.string.price | titlecase}}</div>
        <div class="nowrap text-bold text-sm-right col-3 col-padding-left">{{local_string_change | titlecase}}</div>
    </div>
   

    <div class="row margin-top max-height-100">
        <div class="col-sm-12 max-height-100">
            
            <perfect-scrollbar [hidden]="!complete" style="max-height: 254px; max-width: 100%">
                <div
                    class="row cursor-pointer market active-on-hover"
                    *ngFor="let market of markets"
                    [hidden]="!hide_maxmin"
                    (click)="clickOnMarket(market.scope)"
                    (tap)="clickOnMarket(market.scope)"    
                >
                    <div class="nowrap col-4 col-padding-right">
                        <img class="token-icon" [src]="market.commodity.logo">
                        <span class="margin-left-xs">{{market.commodity.symbol}}</span>
                        <span class="spinner-border spinner-border-sm margin-left-xs" [hidden]="!dex.feed.loading('market.token-stat-'+market.commodity.symbol) && !dex.feed.loading('summary.'+dex.canonicalScope(market.scope))"></span>
                    </div>
                    <div
                        class="nowrap col-2 text-right col-padding-right col-padding-left"
                    >
                        {{market.summary?.volume.valueToString(volume_digits, true)}}
                        <span [hidden]="hide_symbol">{{market.summary?.volume.token.symbol}}</span>            
                    </div>
                    <div class="nowrap col-3 text-right col-padding-right col-padding-left">
                        {{market.summary?.price.valueToString(price_digits, true)}}
                        <span [hidden]="hide_symbol">{{market.summary?.price.token.symbol}}</span>
                    </div>
                    <div class="nowrap col-3 text-right padding-right-lg"
                        [ngClass]="{'text-success': market.summary?.percent > 0, 'text-danger': market.summary?.percent < 0, 'text-muted': market.summary?.percent  == 0}"
                    >
                    {{market.summary?.percent_str}}
                    </div>
                </div>
            </perfect-scrollbar>
            
        </div>
    </div>

</vpe-panel>